<!-- ✅ Loading Section -->
<div *ngIf="isLoading" class="loading-container">
    <div class="image-slider">
      <img *ngFor="let img of loadingImages; let i = index"
           [src]="img" 
           [class.active]="i === currentImageIndex"
           alt="Loading"
           class="loading-image" />
    </div>
    <p class="loading-text">...אוסף נתונים לדוח דליריום</p>
  </div>
  
  <!-- ✅ Content Section -->
  <div class="body" *ngIf="!isLoading">
    <div class="nine">
      <h1>{{ title }}<span> סה"כ תוצאות :{{ totalResults }}</span></h1>
    </div>
  
    <!-- ✅ Summary Information -->
    <mat-card class="info-card mat-elevation-z4">
      <mat-card-title>מידע כללי</mat-card-title>
      <mat-card-content>
        <div class="info-card-content">
          
          <!-- Total Hospitalization Days
          <div class="info-item">
            <mat-icon class="info-icon">event</mat-icon>
            <span class="info-label">סה"כ ימי אשפוז: {{ totalResults }}</span>
          </div>
   -->
   <!-- CAM Grade Change -->
   <div class="info-item">
    <mat-icon class="info-icon">grading</mat-icon>
    <span class="info-label">  בוצע אומדן:  {{ camGradeChangeCount }}</span>
    
          </div>
          <!-- Delirium Cases -->
          <div class="info-item">
            <span class="info-label">דליריום: {{ PatientWithDeliriumCount }}</span>

            <mat-icon class="info-icon">psychology</mat-icon>
          </div>
  
          
  
          <!-- Delirium Consiliums
          <div class="info-item">
            <mat-icon class="info-icon">medical_services</mat-icon>
            <span class="info-label">קונסיליום דליריום נפתח: {{ consiliumsOpenedCount }}</span>
          </div> -->
  
          <!-- Drug for Delirium
          <div class="info-item">
            <mat-icon class="info-icon">medication</mat-icon>
            <span class="info-label">טיפול תרופתי לדליריום: {{ drugForDeliriumCount }}</span>
          </div> -->
          <!-- Prevention or Intervention CAM Count -->
<div class="info-item">
  <mat-icon class="info-icon">medical_services</mat-icon>
  <span class="info-label">מניעה/התערבות: {{ preventionInterventionCount }}</span>
</div>
  
        </div>
      </mat-card-content>
    </mat-card>
  
    <!-- ✅ Filter Form -->
    <form [formGroup]="filterForm" class="filter-form" dir="rtl">
      <mat-form-field class="long-search-bar">
        <mat-label>חיפוש</mat-label>
        <input matInput formControlName="globalFilter" />
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>שם המחלקה</mat-label>
        <mat-select formControlName="unitFilter">
          <mat-option value="">הכל</mat-option>
          <mat-option *ngFor="let unit of unitOptions" [value]="unit">{{ unit }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="resetFilters()">איפוס</button>
      <img src="../../assets/excel.png" alt="Download" (click)="exportToExcel()" class="download-icon" width="50px" />
    </form>
  
    <mat-table #pdfTable [dataSource]="dataSource" matSort dir="rtl" class="mat-elevation-z8">

      <!-- תאריך קבלה - atd_Admission_Date -->
      <ng-container matColumnDef="atd_Admission_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך קבלה</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.atd_Admission_Date ? (element.atd_Admission_Date | date: 'dd/MM/yyyy HH:mm') : 'לא בוצע' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- מספר מקרה - admissionNo -->
      <ng-container matColumnDef="admissionNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>מספר מקרה</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.admissionNo || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- שם מטופל - pname -->
      <ng-container matColumnDef="pname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> שם מטופל</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.pname || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- גיל - ageYears -->
      <ng-container matColumnDef="ageYears">
        <mat-header-cell *matHeaderCellDef mat-sort-header>גיל</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.ageYears || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- מחלקה - systemUnitName -->
      <ng-container matColumnDef="systemUnitName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>מחלקה</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.systemUnitName || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- ציון CAM באשפוז - grade -->
      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ציון CAM באשפוז</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'red-bold': element.grade === null || element.grade === 'לא בוצע' }">
            {{ element.grade === 99 ? 'מולא רק בקבלה' : (element.grade !== null ? element.grade : 'לא בוצע') }}
          </span>
        </mat-cell>
      </ng-container>
    
      <!-- תאריך אומדן - gradeEntryDate -->
      <ng-container matColumnDef="gradeEntryDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך אומדן</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'red-bold': !element.gradeEntryDate}">
            {{ element.gradeEntryDate ? (element.gradeEntryDate | date: 'dd/MM/yyyy') : 'לא בוצע' }}
          </span>
        </mat-cell>
      </ng-container>
    
      <!-- דליריום - patientWithDelirium -->
      <ng-container matColumnDef="patientWithDelirium">
        <mat-header-cell *matHeaderCellDef mat-sort-header>דליריום</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.patientWithDelirium || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- תאריך דליריום - patientWithDeliriumEntryDate -->
      <ng-container matColumnDef="patientWithDeliriumEntryDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך דליריום</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.patientWithDeliriumEntryDate ? (element.patientWithDeliriumEntryDate | date: 'dd/MM/yyyy') : 'לא בוצע' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- ימי דליריום - deliriumDaysCount -->
      <ng-container matColumnDef="deliriumDaysCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ימי דליריום</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.deliriumDaysCount || 0 }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- ציון CAM בקבלה - admissionCAMGrade -->
      <ng-container matColumnDef="admissionCAMGrade">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ציון CAM בקבלה</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'red-bold': element.admissionCAMGrade === null || element.admissionCAMGrade === 'לא בוצע'}">
            {{ element.admissionCAMGrade !== null ? element.admissionCAMGrade : 'לא בוצע' }}
          </span>
        </mat-cell>
      </ng-container>
    
      <!-- טיפול תרופתי לדליריום - drugForDelirium -->
      <ng-container matColumnDef="drugForDelirium">
        <mat-header-cell *matHeaderCellDef mat-sort-header>טיפול תרופתי לדליריום</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.drugForDelirium }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- סה"כ אומדנים - totalEstimationGradesCount -->
      <ng-container matColumnDef="totalEstimationGradesCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>סה"כ אומדנים</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.totalEstimationGradesCount || 0 }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- יחס אומדנים לימי אשפוז - gradeCount -->
      <ng-container matColumnDef="gradeCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>יחס אומדנים לימי אשפוז</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.gradeCount || 0 }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- הזמנת ייעוץ ריפוי בעיסוק - deliriumConsiliumsOpened -->
      <ng-container matColumnDef="deliriumConsiliumsOpened">
        <mat-header-cell *matHeaderCellDef mat-sort-header>הזמנת ייעוץ ריפוי בעיסוק</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.deliriumConsiliumsOpened || 'לא בוצע' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- תאריך ייעוץ - deliriumConsiliumsDate -->
      <ng-container matColumnDef="deliriumConsiliumsDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך ייעוץ</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.deliriumConsiliumsDate ? (element.deliriumConsiliumsDate | date: 'dd/MM/yyyy HH:mm') : 'לא בוצע' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- שעות בין דליריום ייעוץ - hoursDifference -->
      <ng-container matColumnDef="hoursDifference">
        <mat-header-cell *matHeaderCellDef mat-sort-header>שעות בין דליריום ייעוץ</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'blink-text': highlightHoursDifference(element)}">
          <span *ngIf="highlightHoursDifference(element)">צריך להזמין ייעוץ!!!</span>
          <span *ngIf="!highlightHoursDifference(element)">{{ element.hoursDifference || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- שינוי בציון CAM - camGradeChanged -->
      <ng-container matColumnDef="camGradeChanged">
        <mat-header-cell *matHeaderCellDef mat-sort-header>שינוי בציון CAM</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.camGradeChanged || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- מניעה/התערבות - preventionORInterventionCAM -->
      <ng-container matColumnDef="preventionORInterventionCAM">
        <mat-header-cell *matHeaderCellDef mat-sort-header>מניעה/התערבות</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span [ngClass]="{'red-bold': !element.preventionORInterventionCAM || element.preventionORInterventionCAM === 'לא בוצע'}">
            {{ element.preventionORInterventionCAM || 'לא זמין' }}
          </span>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openGradeListDialog(row)" class="clickable-row"></mat-row>
    
    </mat-table>
    
    
    <mat-paginator [pageSizeOptions]="[5, 25, 50]" showFirstLastButtons></mat-paginator>
    
  </div>
  