<!-- ✅ Loading Section -->
<div *ngIf="isLoading" class="loading-container">
    <div class="image-slider">
      <img *ngFor="let img of loadingImages; let i = index"
           [src]="img" 
           [class.active]="i === currentImageIndex"
           alt="Loading"
           class="loading-image" />
    </div>
    <p class="loading-text">...אוסף נתונים לדוח דליריום</p>
  </div>
  
  <!-- ✅ Content Section -->
  <div class="body" *ngIf="!isLoading">
    <div class="nine">
      <h1>{{ title }}<span> סה"כ תוצאות :{{ totalResults }}</span></h1>
    </div>
  
    <!-- ✅ Summary Information -->
    <mat-card class="info-card mat-elevation-z4">
      <mat-card-title>מידע כללי</mat-card-title>
      <mat-card-content>
        <div class="info-card-content">
          
          <!-- Total Hospitalization Days
          <div class="info-item">
            <mat-icon class="info-icon">event</mat-icon>
            <span class="info-label">סה"כ ימי אשפוז: {{ totalResults }}</span>
          </div>
   -->
   <!-- CAM Grade Change -->
   <div class="info-item">
    <mat-icon class="info-icon">grading</mat-icon>
    <span class="info-label">  בוצע אומדן:  {{ camGradeChangeCount }}</span>
    
          </div>
          <!-- Delirium Cases -->
          <div class="info-item">
            <span class="info-label">דליריום: {{ PatientWithDeliriumCount }}</span>

            <mat-icon class="info-icon">psychology</mat-icon>
          </div>
  
          
  
          <!-- Delirium Consiliums
          <div class="info-item">
            <mat-icon class="info-icon">medical_services</mat-icon>
            <span class="info-label">קונסיליום דליריום נפתח: {{ consiliumsOpenedCount }}</span>
          </div> -->
  
          <!-- Drug for Delirium
          <div class="info-item">
            <mat-icon class="info-icon">medication</mat-icon>
            <span class="info-label">טיפול תרופתי לדליריום: {{ drugForDeliriumCount }}</span>
          </div> -->
          <!-- Prevention or Intervention CAM Count -->
<div class="info-item">
  <mat-icon class="info-icon">medical_services</mat-icon>
  <span class="info-label">מניעה/התערבות: {{ preventionInterventionCount }}</span>
</div>
  
        </div>
      </mat-card-content>
    </mat-card>
  
    <!-- ✅ Filter Form -->
    <form [formGroup]="filterForm" class="filter-form" dir="rtl">
      <mat-form-field class="long-search-bar">
        <mat-label>חיפוש</mat-label>
        <input matInput formControlName="globalFilter" />
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>שם המחלקה</mat-label>
        <mat-select formControlName="unitFilter">
          <mat-option value="">הכל</mat-option>
          <mat-option *ngFor="let unit of unitOptions" [value]="unit">{{ unit }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="resetFilters()">איפוס</button>
      <img src="../../assets/excel.png" alt="Download" (click)="exportToExcel()" class="download-icon" width="50px" />
    </form>
  
    <mat-table #pdfTable [dataSource]="dataSource" matSort dir="rtl" class="mat-elevation-z8">

      <!-- תאריך קבלה - ATD_Admission_Date -->
      <ng-container matColumnDef="ATD_Admission_Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך קבלה</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.ATD_Admission_Date ? (element.ATD_Admission_Date | date: 'dd/MM/yyyy HH:mm') : 'לא בוצע' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- מספר מקרה - AdmissionNo -->
      <ng-container matColumnDef="AdmissionNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>מספר מקרה</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.AdmissionNo || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Pname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> שם מטופל</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.Pname || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
    
      <!-- גיל - AgeYears -->
      <ng-container matColumnDef="AgeYears">
        <mat-header-cell *matHeaderCellDef mat-sort-header>גיל</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.AgeYears || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- מחלקה - SystemUnitName -->
      <ng-container matColumnDef="SystemUnitName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>מחלקה</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.SystemUnitName || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- סה"כ ימי אשפוז - TotalHospDays -->
      <!-- <ng-container matColumnDef="TotalHospDays">
        <mat-header-cell *matHeaderCellDef mat-sort-header>סה"כ ימי אשפוז</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.TotalHospDays || 0 }}</span>
        </mat-cell>
      </ng-container> -->
    
   <!-- ציון אומדן - Grade -->
   <ng-container matColumnDef="Grade">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ציון CAM באשפוז</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span [ngClass]="{'red-bold': element.Grade === null || element.Grade === 'לא בוצע' }">
        {{ element.Grade === 99 ? 'מולא רק בקבלה' : (element.Grade !== null ? element.Grade : 'לא בוצע') }}
      </span>
    </mat-cell>
  </ng-container>
  
    <!-- תאריך אומדן - GradeEntryDate -->
<ng-container matColumnDef="GradeEntryDate">
  <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך אומדן</mat-header-cell>
  <mat-cell *matCellDef="let element">
    <span [ngClass]="{'red-bold': !element.GradeEntryDate}">
      {{ element.GradeEntryDate ? (element.GradeEntryDate | date: 'dd/MM/yyyy') : 'לא בוצע' }}
    </span>
  </mat-cell>
</ng-container>
    
      <!-- דליריום - PatientWithDelirium -->
      <ng-container matColumnDef="PatientWithDelirium">
        <mat-header-cell *matHeaderCellDef mat-sort-header>דליריום</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.PatientWithDelirium || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- תאריך דליריום - PatientWithDeliriumEntryDate -->
      <ng-container matColumnDef="PatientWithDeliriumEntryDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך דליריום</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.PatientWithDeliriumEntryDate ? (element.PatientWithDeliriumEntryDate | date: 'dd/MM/yyyy') : 'לא בוצע' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- ימי דליריום - DeliriumDaysCount -->
      <ng-container matColumnDef="DeliriumDaysCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ימי דליריום</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.DeliriumDaysCount || 0 }}</span>
        </mat-cell>
      </ng-container>
    
<!-- ציון CAM בקבלה - AdmissionCAMGrade -->
<ng-container matColumnDef="AdmissionCAMGrade">
  <mat-header-cell *matHeaderCellDef mat-sort-header>ציון CAM בקבלה</mat-header-cell>
  <mat-cell *matCellDef="let element">
    <span [ngClass]="{'red-bold': element.AdmissionCAMGrade === null || element.AdmissionCAMGrade === 'לא בוצע'}">
      {{ element.AdmissionCAMGrade !== null ? element.AdmissionCAMGrade : 'לא בוצע' }}
    </span>
  </mat-cell>
</ng-container>

    
      <!-- טיפול תרופתי לדליריום - DrugForDelirium -->
      <ng-container matColumnDef="DrugForDelirium">
        <mat-header-cell *matHeaderCellDef mat-sort-header>טיפול תרופתי לדליריום</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.DrugForDelirium }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- סה"כ אומדנים - TotalEstimationGradesCount -->
      <ng-container matColumnDef="TotalEstimationGradesCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>סה"כ אומדנים</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.TotalEstimationGradesCount || 0 }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- יחס אומדנים לימי אשפוז - GradeCount -->
      <ng-container matColumnDef="GradeCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>יחס אומדנים לימי אשפוז</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.GradeCount || 0 }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- הזמנת ייעוץ ריפוי בעיסוק - DeliriumConsiliumsOpened -->
      <ng-container matColumnDef="DeliriumConsiliumsOpened">
        <mat-header-cell *matHeaderCellDef mat-sort-header>הזמנת ייעוץ ריפוי בעיסוק</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.DeliriumConsiliumsOpened || 'לא בוצע' }}</span>
        </mat-cell>
      </ng-container>
    
      <!-- תאריך ייעוץ - DeliriumConsiliumsDate -->
      <ng-container matColumnDef="DeliriumConsiliumsDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>תאריך ייעוץ</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.DeliriumConsiliumsDate ? (element.DeliriumConsiliumsDate | date: 'dd/MM/yyyy HH:mm') : 'לא בוצע' }}</span>
        </mat-cell>
      </ng-container>
    <!-- שעות בין דליריום ייעוץ - HoursDifference -->
<!-- HoursDifference Column -->
<ng-container matColumnDef="HoursDifference">
  <mat-header-cell *matHeaderCellDef mat-sort-header>שעות בין דליריום ייעוץ</mat-header-cell>
  <mat-cell *matCellDef="let element" [ngClass]="{'blink-text': highlightHoursDifference(element)}">
    <span *ngIf="highlightHoursDifference(element)">צריך להזמין ייעוץ!!!</span>
    <span *ngIf="!highlightHoursDifference(element)">{{ element.HoursDifference || 'לא זמין' }}</span>
  </mat-cell>
</ng-container>

      <!-- שינוי בציון CAM - CAMGradeChanged -->
      <ng-container matColumnDef="CAMGradeChanged">
        <mat-header-cell *matHeaderCellDef mat-sort-header>שינוי בציון CAM</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element.CAMGradeChanged || 'לא זמין' }}</span>
        </mat-cell>
      </ng-container>
    
<!-- מניעה/התערבות - PreventionORInterventionCAM -->
<ng-container matColumnDef="PreventionORInterventionCAM">
  <mat-header-cell *matHeaderCellDef mat-sort-header>מניעה/התערבות</mat-header-cell>
  <mat-cell *matCellDef="let element">
    <span [ngClass]="{'red-bold': !element.PreventionORInterventionCAM || element.PreventionORInterventionCAM === 'לא בוצע'}">
      {{ element.PreventionORInterventionCAM || 'לא זמין' }}
    </span>
  </mat-cell>
</ng-container>


      
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openGradeListDialog(row)" class="clickable-row"></mat-row>
    
    </mat-table>
    
    <mat-paginator [pageSizeOptions]="[5, 25, 50]" showFirstLastButtons></mat-paginator>
    
  </div>
  