<div class="body" *ngIf="!isLoading">
    <div class="nine">
      <h1>{{ title }}<span> סה"כ תוצאות :{{ totalResults }}</span></h1>
    </div>
    <div class="gauge-item">
      <div class="gauge-title"> ייעוץ גריאטרי</div>
      <ngx-gauge
        [value]="camAssessmentGauge"
        [min]="0"
        [max]="100"
        [label]="''"
        [append]="'%'"
        [foregroundColor]="camAssessmentGaugeColor()"> 
      </ngx-gauge>
      <div class="gauge-info">
        <strong> תקין {{ validCAMCount }} / לא תקין {{ invalidCAMCount }} / סה"כ - {{ totalCAMCases }} </strong>
      </div>
    </div>
    <form [formGroup]="filterForm" class="filter-form" dir="rtl">
      <mat-form-field class="long-search-bar">
        <mat-label>חיפוש</mat-label>
        <input matInput formControlName="globalFilter" />
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>שם המחלקה</mat-label>
        <mat-select formControlName="unitFilter">
          <mat-option value="">הכל</mat-option>
          <mat-option *ngFor="let unit of unitOptions" [value]="unit">{{ unit }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="resetFilters()">איפוס</button>
      <img src="../../assets/excel.png" alt="Download" (click)="exportToExcel()" class="download-icon" width="50px" />
    </form>
   
      <mat-table #pdfTable [dataSource]="dataSource" matSort dir="rtl" class="mat-elevation-z8">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ columnLabels[column] }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- ✅ Apply Date Pipe for Date Columns -->
            <span *ngIf="isDateColumn(column); else textTemplate">
              {{ element[column] | date:'dd/MM/yyyy' }}
            </span>
      
            <!-- ✅ Fallback for Non-Date Values -->
            <ng-template #textTemplate>
              {{ element[column] || 'לא זמין' }}
            </ng-template>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickable-row"></mat-row>
      </mat-table>
      
  
    <mat-paginator [pageSizeOptions]="[5, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
  