/* Add any custom styles here */
mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button {
    margin-top: 16px;
  }
  
  mat-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
  
    button {
      margin-top: 8px;
    }
  
    div {
      margin: 4px 0;
    }
  }
  