:host {
  display: block; /* Makes it easier to manage width/height */
}

.section {
  border: 1px solid #ccc; /* Add border around each section */
  padding: 16px; /* Add padding inside each section */
  margin-bottom: 20px; /* Add margin between sections */
}

.section-title {
  font-size: 15px;
  font-weight: bold;
  color: #090808;
  text-align: center;
  padding: 1px 0;
  margin-left: 20px;
  border-bottom: 2px solid #ccc;
  width: calc(100% - 40px);
  /* padding: 10px; */
}

.section-content {
  display: grid;
  grid-template-columns: repeat(4, auto); /* 4 columns */
  grid-gap: 16px; /* Adjust spacing between cells */
  
  .grid-cell:not(.textarea-cell) { /* Apply to all grid cells except for textarea cell */
    grid-column: span 1; /* Each cell takes up one column */
  }

  .textarea-cell { /* Specific class for the grid cell that contains the textarea */
    grid-column: span 4; /* Let the textarea take up all 4 columns */
  }
}

.full-width-input {
  width: 100%; /* Full width for form fields */
}

.dialog-content {
  padding: 24px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px 24px;
}

.custom-dialog-title {
  font-size: 15px;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.mat-form-field {
  width: 100%; /* Full width for Material form field */
  
  // textarea.mat-input-element {
  //   height: auto; /* Adjust height to content, can also use min-height */
  //   min-height: 250px !important; /* Minimum height */
  //   overflow-y: auto; /* Show scrollbar when content overflows */
  // }
}

textarea[matInput] {
  min-height: 75px !important; /* Enforce minimum height */
  overflow-y: auto; /* Show scrollbar when content overflows */
  resize: none; /* Disables the resize handle */
  white-space: normal; /* Ensures text wraps to next line as needed */
  overflow-wrap: break-word; /* Ensures long words do not break the layout */
}
.custom-dialog-title {
  display: flex;
  justify-content: center; /* Center the title content */
  align-items: center;
  flex-direction: column; /* Stack the children vertically */
  
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-requested {
  order: 3; /* Move to the right */
  /* Add right-aligned icon if desired */
}

.user-name {
  order: 2; /* Keep in the center */
  text-align: center;
}

.callback-phone {
  order: 1; /* Move to the left */
  /* Add left-aligned icon if desired */
}

.dialog-actions {
  display: flex;
  justify-content: space-between; /* Place buttons on each side */
  
}


