<mat-toolbar color="primary">Edit Task</mat-toolbar>
<div class="container">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-column">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Task Name</mat-label>
          <input matInput formControlName="taskName">
        </mat-form-field>
      </div>
      <div class="form-column">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Task Description</mat-label>
          <input matInput formControlName="taskDescription">
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-column">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-column">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Assign Users</mat-label>
          <mat-select formControlName="assignedUsers" multiple>
            <mat-option *ngFor="let user of users" [value]="user.EmployeeID">
              {{ user.Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-actions">
      <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Update Task</button>
    </div>
  </form>
</div>
