/* Main dashboard styling */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Header styling */
  mat-toolbar {
    //position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  mat-toolbar > div {
    flex: 1;
  }
  
  mat-toolbar .welcome-message {
    text-align: left;
    order: -1;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px; /* Adjust if header height changes */
    height: calc(100vh - 64px); /* Adjust if additional elements affect total height */
  
  }
  /* Ensure full height for all main sections */
  // .cards,
  // .important-links,
  // .tasks-table,.important-messages-cards {
  //   flex-grow: 1; /* Grow to use up available space */
  //   height: calc(100vh - 64px - 20px); /* Full viewport height minus header and any additional spacing */
  //   overflow-y: auto; /* Allow scrolling within sections if content is too long */
  //   border: 2px solid #ccc; /* Consistent border */
  //   padding: 10px;
  //   box-sizing: border-box; /* Include padding and border in the height calculation */
  // }
  
  /* Right side content layout */
  .right-content {
    width: auto; /* Width to match the cards */
    //display: flex;
    flex-direction: column;
  }
  
  /* Task table styling */
  .tasks-table {
    height: 80%;
    overflow-y: auto;
    flex: 1;
    margin-right: 1%;
    border: 2px solid #ccc; 
  }

  .tasks-table-2 {
    height: auto;
    overflow-y: auto;
    flex: 1;
    margin-right: 1%;
    border: 2px solid #ccc; 
  }
  
  /* Table row styling */
  table {
    width: auto;
    margin: 5px auto;
  }
  
  // .mat-row:nth-child(odd) {
  //   background-color: white;
  // }
  
  // .mat-row:nth-child(even) {
  //   background-color: rgb(222, 212, 241);
  // }
  
  .mat-row:hover {
    background-color: darkgray;
    cursor: pointer;
  }
  

  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
    .right-content {
      width: 100%;
    }
    .tasks-table,
    .cards {
      width: 100%;
      margin-right: 0;
    }
    
    .card {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  /* General container styling */
  .container {
    min-width:auto;
  }
  
  /* Style for the table and cards section titles */
  .table-title,
  .cards-title ,.important-messages-title {
    font-size: 15px;
    font-weight: bold;
    color: #090808;
    text-align: center;
    padding: 1px 0;
    margin-left: 20px;
    border-bottom: 2px solid #ccc;
    width: calc(100% - 40px);
  }
  
  @media (max-width: 768px) {
    .table-title,
    .cards-title {
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 20px);
    }
  }
  
  // /* Messages styling */
  // .important-messages {
  //   height: calc(50vh - 10px); /* Subtracting the margin between the cards and messages */
  //   overflow-y: auto; /* Scrollbar appears if content overflows */
  //   border: 2px solid #ccc;
  //   padding: 2px;
  //   //margin-top: 1%;
  //   margin-right: 1%;
  //   margin-top: 10px;
  //   box-sizing: border-box; /* Include padding and border in the height calculation */
  //   direction: rtl; /* For right-to-left text direction */
  //   height: calc(100vh - 64px - 20px - 50vh - 50px); /* height of the viewport - header - padding - height of cards - margin */
  // }
  // .important-messages-title {
  //   font-size: 20px;
  //   font-weight: bold;
  //   color: #090808;
  //   text-align: right;
  //   padding: 10px 0;
  //   border-bottom: 2px solid #ccc;
  // }
  
  // .message {
  //   background-color: rgb(222, 212, 241);
  //   border-radius: 10px;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //   padding: 2px;
  //   margin: 5px 0;
  //   color: #090808;
  //   //font-weight: bold;
  //   text-align: right;
  //   border: 1px solid rgb(17, 16, 16);
  // }
  // /* Responsive adjustments */
  // @media (max-width: 768px) {
  //   .card {
  //     width: 100%; /* Full width cards on smaller screens */
  //     margin-bottom: 10px; /* Adjust margin as needed */
  //   }
  // }
  
  .content {
    display: flex;
    justify-content: space-between; /* Adjust if you want the children to use up the available space */
  }
  
  .left-content {
    flex-grow: 1; /* Allow left content to expand and take up available space */
    /* You might want to set a max-width if needed */
  }
  
  .right-content {
    flex-basis: 35%; /* Adjust the width of the right content here if necessary */
    /* Make sure to not set both flex-basis and width or it might lead to conflicts */
  }
  /* Important Links styling */
  /* Important Links styling to match the dashboard design */

 
  .priority-1 {
    color:#893232;
    background-color: #fadddd;
    border-color:#f7cbcb;
  }
  
  
  .priority-2 {
    color:#1c6e37;
    background-color: #d5f1de;
    border-color:#c0eace;
  }
  
  .priority-3 {
    color:rgba(131, 107, 52, .97);
    background-color: #feefd0;
    border-color:#fde8b9;
  }
  
  .bold-font {
    font-weight: bold;
    color: red;
  }
  .bold-font-red {
    color: red;
    font-weight: bold;

  }
  
  .bold-font-blue {
    color: blue;
    font-weight: bold;
  }

 

  mat-toolbar {
    height: 48px; /* Adjust to the actual desired height */
  }
  .bold-link {
    font-weight: bold;
}

