<app-spinner [isLoading]="isLoading"></app-spinner>

<div *ngIf="!isLoading" class="body">
  <mat-card class="filter-card" dir="rtl">
    <mat-card-content class="filters">
      <div class="filter-fields">
        <h2>דו"ח דליריום - מטופלים 75+</h2>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- 🔹 Summary Section -->
  <mat-card class="summary-card" dir="rtl">
    <mat-card-content>
      <h3>1. סיקור דליריום וטיפול בו</h3>
      <table class="summary-table">
        <tr>
          <th>תיאור</th>
          <th>לוגיקה</th>
        </tr>
        <tr>
          <td>סה"כ המאושפזים בגיל 75+</td>
          <td>{{ totalPatients75Plus }}</td>
        </tr>
        <tr>
          <td>סה"כ המאושפזים בגיל 75+ שעברו סיקור לדליריום</td>
          <td>{{ screenedForDelirium }}</td>
        </tr>
        <tr>
          <td>סה"כ המאושפזים בגיל 75+ שאובחנו עם דליריום</td>
          <td>{{ diagnosedWithDelirium }}</td>
        </tr>
        <tr>
          <td>סה"כ שקיבלו טיפול לדליריום (כולל לא-תרופתי)</td>
          <td>{{ treatedDelirium }}</td>
        </tr>
        <tr>
          <td>סה"כ שקיבלו טיפול תרופתי לדליריום</td>
          <td>{{ treatedWithDrug }}</td>
        </tr>
        <tr>
          <td>סה"כ שקיבלו טיפול לא-תרופתי לדליריום</td>
          <td>{{ treatedWithoutDrug }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <h2 class="table-title">10. סיקור דליריום וטיפול בו לפי מין וגיל</h2>

  <table mat-table [dataSource]="genderAgeSummary" class="mat-elevation-z8" dir="rtl">
  
    <!-- Grouped Header Row -->
    <ng-container matColumnDef="groupedHeader1">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="group-header"> אוכלוסיית מאושפזים </th>
    </ng-container>
  
    <ng-container matColumnDef="groupedHeader2">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="group-header"> סה"כ מאושפזים בני 75+ בבית החולים </th>
    </ng-container>
  
    <ng-container matColumnDef="groupedHeader3">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="group-header"> סה"כ מאושפזים שעברו סיקור לדיליריום </th>
    </ng-container>
  
    <ng-container matColumnDef="groupedHeader4">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="group-header"> סה"כ מאושפזים שאובחנו עם דליריום </th>
    </ng-container>
  
    <ng-container matColumnDef="groupedHeader5">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="group-header"> סה"כ מאושפזים שטופלו לדליריום </th>
    </ng-container>
  
    <!-- Column Headers -->
    <ng-container matColumnDef="ageGroup">
      <th mat-header-cell *matHeaderCellDef> גיל / מין </th>
      <td mat-cell *matCellDef="let row"> {{ row.ageGroup }} </td>
    </ng-container>
  
    <ng-container matColumnDef="totalMale">
      <th mat-header-cell *matHeaderCellDef> זכר </th>
      <td mat-cell *matCellDef="let row"> {{ row.totalMale }} </td>
    </ng-container>
    <ng-container matColumnDef="totalFemale">
      <th mat-header-cell *matHeaderCellDef> נקבה </th>
      <td mat-cell *matCellDef="let row"> {{ row.totalFemale }} </td>
    </ng-container>
  
    <ng-container matColumnDef="screenedMale">
      <th mat-header-cell *matHeaderCellDef> זכר </th>
      <td mat-cell *matCellDef="let row"> {{ row.screenedMale }} </td>
    </ng-container>
    <ng-container matColumnDef="screenedFemale">
      <th mat-header-cell *matHeaderCellDef> נקבה </th>
      <td mat-cell *matCellDef="let row"> {{ row.screenedFemale }} </td>
    </ng-container>
  
    <ng-container matColumnDef="deliriumMale">
      <th mat-header-cell *matHeaderCellDef> זכר </th>
      <td mat-cell *matCellDef="let row"> {{ row.deliriumMale }} </td>
    </ng-container>
    <ng-container matColumnDef="deliriumFemale">
      <th mat-header-cell *matHeaderCellDef> נקבה </th>
      <td mat-cell *matCellDef="let row"> {{ row.deliriumFemale }} </td>
    </ng-container>
  
    <ng-container matColumnDef="treatedMale">
      <th mat-header-cell *matHeaderCellDef> זכר </th>
      <td mat-cell *matCellDef="let row"> {{ row.treatedMale }} </td>
    </ng-container>
    <ng-container matColumnDef="treatedFemale">
      <th mat-header-cell *matHeaderCellDef> נקבה </th>
      <td mat-cell *matCellDef="let row"> {{ row.treatedFemale }} </td>
    </ng-container>
  
    <!-- First header row: Grouped headers -->
    <tr mat-header-row *matHeaderRowDef="['groupedHeader1', 'groupedHeader2', 'groupedHeader3', 'groupedHeader4', 'groupedHeader5']"></tr>
  
    <!-- Second header row: Actual column names -->
    <tr mat-header-row *matHeaderRowDef="['ageGroup', 'totalMale', 'totalFemale', 'screenedMale', 'screenedFemale', 'deliriumMale', 'deliriumFemale', 'treatedMale', 'treatedFemale']"></tr>
  
    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: ['ageGroup', 'totalMale', 'totalFemale', 'screenedMale', 'screenedFemale', 'deliriumMale', 'deliriumFemale', 'treatedMale', 'treatedFemale']"></tr>
  
  </table>
  
  <div class="table-wrapper">
    <h2 class="table-title">3. א. משתתפים בתכנית למניעה, איתור וטיפול בדיליריום, לפי גיל ומשך האשפוז</h2>
  
    <table mat-table [dataSource]="lengthOfStaySummary" class="mat-elevation-z8" dir="rtl">
  
      <!-- GROUP HEADERS -->
      <ng-container matColumnDef="group-header1">
        <th mat-header-cell *matHeaderCellDef colspan="1" class="group-header">אוכלוסיית מאושפזים</th>
      </ng-container>
  
      <ng-container matColumnDef="group-header2">
        <th mat-header-cell *matHeaderCellDef colspan="3" class="group-header">סה"כ מאושפזים בני 75+ בבית החולים</th>
      </ng-container>
  
      <ng-container matColumnDef="group-header3">
        <th mat-header-cell *matHeaderCellDef colspan="3" class="group-header">סה"כ מאושפזים שעברו סיקור לדיליריום</th>
      </ng-container>
  
      <!-- DATA COLUMNS -->
      <ng-container matColumnDef="ageGroup">
        <th mat-header-cell *matHeaderCellDef> גיל / משך אשפוז </th>
        <td mat-cell *matCellDef="let row"> {{ row.ageGroup }} </td>
      </ng-container>
  
      <ng-container matColumnDef="totalDays3">
        <th mat-header-cell *matHeaderCellDef> עד 3 ימים </th>
        <td mat-cell *matCellDef="let row"> {{ row.totalDays3 }} </td>
      </ng-container>
  
      <ng-container matColumnDef="totalDays4to5">
        <th mat-header-cell *matHeaderCellDef> 4-5 ימים </th>
        <td mat-cell *matCellDef="let row"> {{ row.totalDays4to5 }} </td>
      </ng-container>
  
      <ng-container matColumnDef="totalDays6plus">
        <th mat-header-cell *matHeaderCellDef> 6 ימים ומעלה </th>
        <td mat-cell *matCellDef="let row"> {{ row.totalDays6plus }} </td>
      </ng-container>
  
      <ng-container matColumnDef="screenedDays3">
        <th mat-header-cell *matHeaderCellDef> עד 3 ימים </th>
        <td mat-cell *matCellDef="let row"> {{ row.screenedDays3 }} </td>
      </ng-container>
  
      <ng-container matColumnDef="screenedDays4to5">
        <th mat-header-cell *matHeaderCellDef> 4-5 ימים </th>
        <td mat-cell *matCellDef="let row"> {{ row.screenedDays4to5 }} </td>
      </ng-container>
  
      <ng-container matColumnDef="screenedDays6plus">
        <th mat-header-cell *matHeaderCellDef> 6 ימים ומעלה </th>
        <td mat-cell *matCellDef="let row"> {{ row.screenedDays6plus }} </td>
      </ng-container>
  
      <!-- HEADER ROWS -->
      <tr mat-header-row *matHeaderRowDef="['group-header1', 'group-header2', 'group-header3']"></tr>
      <tr mat-header-row *matHeaderRowDef="['ageGroup', 'totalDays3', 'totalDays4to5', 'totalDays6plus', 'screenedDays3', 'screenedDays4to5', 'screenedDays6plus']"></tr>
  
      <!-- DATA ROWS -->
      <tr mat-row *matRowDef="let row; columns: ['ageGroup', 'totalDays3', 'totalDays4to5', 'totalDays6plus', 'screenedDays3', 'screenedDays4to5', 'screenedDays6plus'];"></tr>
  
    </table>
  </div>
  
  

</div>
