.app-footer {
  position: fixed; /* Fix at the bottom */
  bottom: 0; /* Align to the bottom */
  width: 100%;
  height: 50px;
  line-height: 50px; /* Center text vertically */
  color: white;
  background-color: #007bff; /* Set the background color */
  z-index: 1000; /* Ensure it's above other content */
}

mat-toolbar[color="primary"] {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
