<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<div class="body">


  <!-- Filters form (RTL) -->
<!-- Filters form (RTL) -->
<form [formGroup]="filterForm" dir="rtl" class="filter-form">
    <div class="container-fluid mb-2">
      <div class="row search-count">
        <div class="col">
          <div dir="rtl" class="card">
            <div dir="rtl" class="card-body" style="display:flex; gap:24px; align-items:center; flex-wrap:wrap">
  
              <!-- Existing toggles -->
              <mat-slide-toggle formControlName="hasEitanOnly" (change)="applyFilters()" matTooltip="דלוק: הצג רק שורות עם ערך">
                קיימת קבוצה ב-AD
              </mat-slide-toggle>
  
              <mat-slide-toggle formControlName="hasNamerOnly" (change)="applyFilters()" matTooltip="דלוק: הצג רק שורות עם ערך">
                NAMER
              </mat-slide-toggle>
  
              <mat-slide-toggle formControlName="hasAdActiveOnly" (change)="applyFilters()" matTooltip="דלוק: הצג רק שורות עם ערך">
                קבוצות ב-AD
              </mat-slide-toggle>
  
              <!-- NEW TOGGLES -->
              <mat-slide-toggle formControlName="hasChameleonOnly" (change)="applyFilters()" matTooltip="דלוק: הצג רק שורות עם ערך">
                Chameleon קבוצה
              </mat-slide-toggle>
  
              <mat-slide-toggle formControlName="hasChameleonRestrictedOnly" (change)="applyFilters()" matTooltip="דלוק: הצג רק שורות עם ערך">
                יחידות חסויות בקמיליון
              </mat-slide-toggle>
  
              <mat-slide-toggle formControlName="hasOnlineOnly" (change)="applyFilters()" matTooltip="דלוק: הצג רק שורות עם ערך">
                משתמש פעיל Online
              </mat-slide-toggle>
  
              <mat-slide-toggle formControlName="hasEveOnly" (change)="applyFilters()" matTooltip="דלוק: הצג רק שורות עם ערך">
                EVE - יחידה חסויה
              </mat-slide-toggle>
  
              <div class="reset-button-container" style="margin-inline-start:auto">
                <button
                  mat-button
                  (click)="resetAllFilters()"
                  mat-raised-button
                  color="primary"
                  class="custom-button"
                  matTooltip="נקה מסננים">
                  <i class="material-icons">refresh</i>
                </button>
              </div>
  
            </div>
            <div dir="rtl" style="display:flex; justify-content:space-between; align-items:center">
                <mat-form-field class="long-search-bar" style="flex:1; padding-right:10px">
                  <mat-label class="filters" style="color: blue"> חיפוש</mat-label>
                  <input matInput formControlName="globalFilter" (input)="applyFilters()" class="search-input" />
                </mat-form-field>
              
                <div class="icon" matTooltip="הורד לאקסל">
                  <img
                    src="../../assets/excel.png"
                    alt="Download"
                    (click)="exportToExcel()"
                    class="download-icon"
                    width="50px"
                  />
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Global search + Excel -->

  
  <!-- Data table -->
  <mat-table [dataSource]="matTableDataSource" matSort dir="rtl" class="mat-elevation-z8">

    <!-- Generic column template -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ getColumnLabel(column) }}
      </mat-header-cell>

      <mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="column">
          
     <!-- profilePicture -->
<span *ngSwitchCase="'profilePicture'">
    <img
      *ngIf="element.profilePicture"
      [src]="element.profilePicture"
      alt="pic"
      class="avatar-lg" />
  </span>

          <!-- eitanChameleonADGroupPermision -->
<span *ngSwitchCase="'eitanChameleonADGroupPermision'">
    <div class="cell-text" [matTooltip]="element.eitanChameleonADGroupPermision || ''">
      {{ element.eitanChameleonADGroupPermision || '' }}
    </div>
  </span>

         <!-- namerUserActivePermision -->
<span *ngSwitchCase="'namerUserActivePermision'">
    <div class="cell-text" [matTooltip]="element.namerUserActivePermision || ''">
      {{ element.namerUserActivePermision || '' }}
    </div>
  </span>
          <!-- adActivePermision (this is the LONG one) -->
<span *ngSwitchCase="'adActivePermision'">
    <div class="cell-text cell-text-long" [matTooltip]="element.adActivePermision || ''">
      {{ element.adActivePermision || '' }}
    </div>
  </span>
  <!-- Chameleon group -->
<span *ngSwitchCase="'ChamelleonGropPermision'">
    <div class="cell-text cell-text-long" [matTooltip]="element.ChamelleonGropPermision || ''">
      {{ element.ChamelleonGropPermision || '' }}
    </div>
  </span>
  
  <!-- Chameleon restricted group -->
  <span *ngSwitchCase="'ChamelleonRestrictedGropPermision'">
    <div class="cell-text cell-text-long" [matTooltip]="element.ChamelleonRestrictedGropPermision || ''">
      {{ element.ChamelleonRestrictedGropPermision || '' }}
    </div>
  </span>
  
  <!-- Online active user -->
  <span *ngSwitchCase="'OnnLineActiveUser'">
    <div class="cell-text" [matTooltip]="element.OnnLineActiveUser || ''">
      {{ element.OnnLineActiveUser || '' }}
    </div>
  </span>
  
  <!-- EVE active user -->
  <span *ngSwitchCase="'EVEActiveUser'">
    <div class="cell-text" [matTooltip]="element.EVEActiveUser || ''">
      {{ element.EVEActiveUser || '' }}
    </div>
  </span>
  

          <!-- Default -->
          <span *ngSwitchDefault>
            <div class="cell-text" [matTooltip]="element[column]">
              {{ element[column] }}
            </div>
          </span>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns" class="mat-row"></mat-row>
  </mat-table>

  <!-- Paginator -->
  <mat-paginator
  [length]="totalResults"
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 15, 50, 100]">
</mat-paginator>
</div>
