<mat-dialog-content class="dialog-container" dir="rtl">
  
    <!-- Avatar Image -->
    <div class="avatar-container">
      <img src="aprofilePictureUrl" alt="Customer Support" class="avatar-image">
    </div>
  
    <!-- Patient Details Card -->
    <mat-card class="patient-card">
      <mat-card-content>
        <!-- Patient Name Centered -->
        <div class="patient-header">
          <h2>
            <mat-icon class="user-icon">person</mat-icon>
            <span class="name">{{ data.FirstName }} {{ data.LastName }}</span>
            
          </h2>
        </div>
        <!-- Contact Info (2 per row) -->
        <div class="contact-info">
          <div class="contact-item">
            <mat-icon class="icon">local_hospital</mat-icon>
            <span>{{ data.DepartmentName }}</span>
          </div>
          <div class="contact-item">
            <mat-icon class="icon">event</mat-icon>
            <span>{{ data.EnterDepartDate | date:'dd/MM/yyyy' }}</span>
          </div>
          
          <div class="contact-item">
            <mat-icon class="icon">smartphone</mat-icon>
            <span>{{ data.Mobile }}</span>
          </div>
          <div class="contact-item">
            <mat-icon class="icon">phone</mat-icon>
            <span>{{ data.Telephone }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  
    <!-- Call Form -->
    <form [formGroup]="callForm">
      <mat-form-field appearance="outline">
        <mat-label>סטטוס שיחה</mat-label>
        <mat-select formControlName="caseManagerStatus">
          <mat-option value=""></mat-option>
          <mat-option value="אין מענה">אין מענה</mat-option>
          <mat-option value="פתוח">חיובי</mat-option>
          <mat-option value="שלילי">שלילי</mat-option>
          <mat-option value="טופל">טופל</mat-option>
          <mat-option value="המשך טיפול ">המשך טיפול </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>קטגוריה</mat-label>
        <mat-select formControlName="caseManagerCategory" required>
          <mat-option value=""></mat-option>
          <mat-option value="בירור חיובים">בירור חיובים</mat-option>
          <mat-option value="דחיית/ ביטול ניתוח">דחיית/ ביטול ניתוח</mat-option>
          <mat-option value="הבעת תודה">הבעת תודה</mat-option>
          <mat-option value="היעדר מידע והסברים">היעדר מידע והסברים</mat-option>
          <mat-option value="זמני המתנה לבדיקה רופא/ה">זמני המתנה לבדיקה רופא/ה</mat-option>
          <mat-option value="זמני המתנה למועד התור">זמני המתנה למועד התור</mat-option>
          <mat-option value="זמני המתנה לתוצאות בדיקה">זמני המתנה לתוצאות בדיקה</mat-option>
          <mat-option value="חניה">חניה</mat-option>
          <mat-option value="טיפול מקצועי לקוי (לכאורה)">טיפול מקצועי לקוי (לכאורה)</mat-option>
          <mat-option value="יחס עובד - שלילי">יחס עובד - שלילי</mat-option>
          <mat-option value="כשל במענה הטלפוני">כשל במענה הטלפוני</mat-option>
          <mat-option value="ליקוי ברשומה רפואית">ליקוי ברשומה רפואית</mat-option>
          <mat-option value="נושא חדש ממוקד">נושא חדש ממוקד</mat-option>
          <mat-option value="שילוט">שילוט</mat-option>
          <mat-option value="שפה">שפה</mat-option>
          <mat-option value="תנאים פיזיים">תנאים פיזיים</mat-option>
          <mat-option value="אובדן ציוד">אובדן ציוד</mat-option>
          <mat-option value="אחר">אחר</mat-option>
        </mat-select>
       
      </mat-form-field>
      
  
      <!-- <mat-form-field appearance="outline">
        <mat-label>עדכון מנהל תיק</mat-label>
        <input matInput formControlName="caseManagerUpdate" type="date">
      </mat-form-field> -->
  
      <mat-form-field appearance="outline">
        <mat-label>הערות</mat-label>
        <textarea matInput formControlName="caseManagerRemarks"></textarea>
      </mat-form-field>
    </form>
  
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">ביטול</button>
    <button mat-flat-button color="primary" (click)="save()">שמור</button>
  </mat-dialog-actions>
  