/* new-guide-form.component.scss */
.center {
  text-align: center;
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.full-width {
  flex: 1;
  padding: 8px;
}

/* Assign a flex-basis to ensure fields in the same row do not wrap prematurely */
.flex-item {
  flex: 1 1 30%;  /* Adjusts the flex-basis to 30%, allowing three items to fit in a row */
  padding: 8px;
}

.expand {
  flex-grow: 1;
  width: 100%;  /* Ensures that the textarea or other expandable elements take the full width when needed */
}

/* Ensure that the position aligns on the same row */
.position-field {
  flex: 1 1 20%; /* Smaller flex-basis as it generally needs less space */
}

/* Styles for specific adjustments in input fields */
mat-form-field {
  width: 100%; /* Make sure each form field takes full width of its flex container */
  padding: 10px;
}

input[matInput], textarea[matInput] {
  padding: 8px 12px; /* Padding inside the input for better text visibility */
}

textarea[matInput] {
  min-height: 100px; /* Minimum height for text areas */
}
