
  /* styles.scss or new-guide-form.component.scss */
  .image-preview {
    width: 95%;  /* or any other dimensions */
    height: 95%;
    margin-top: 10px;
  }
  /* new-guide-form.component.scss */
  /* styles.scss or new-guide-form.component.scss */
  /* new-guide-form.component.scss */
  .full-width-form,button {
    display: flex;
    flex-direction: column;
    width: 95%; /* Ensure the form takes up the full width */
  }
  
  .full-width-input {
    width: 95%; /* Ensures input fields take full width */
  }
  
  .section {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .new-guide-form .full-width-input {
    width: 95%; /* Ensures input fields take full width */
  }
  
  .section .mat-form-field.full-width-input {
    width: 95%;
  }