.body {
    padding: 10px;
  }
  .fields-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(0, 1fr)
    ); // Creates a new column as space allows
    gap: 50px; // Adjust the gap to your preference
  
    @media (min-width: 600px) {
      // Adjust the min-width as needed
      grid-template-columns: repeat(4, 1fr); // Up to 4 items in a row
    }
    padding-bottom: 10px;
    margin-top: 16px;
  }
  .fields-container2 {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); // Creates a new column as space allows
    // gap: 50px; // Adjust the gap to your preference
  
    @media (min-width: 600px) {
      // Adjust the min-width as needed
      grid-template-columns: repeat(4, 1fr); // Up to 4 items in a row
    }
    padding-bottom: 10px;
    gap: 20px;
  }
  .field {
    display: flex;
    flex-direction: column;
    align-items: right;
  
    .label {
      font-weight: bold;
      margin-bottom: 4px; // Space between label and value
    }
  
    .value {
      border-bottom: 1px solid black; // Creates the underline
      padding-bottom: 2px; // Gives some space between text and underline
      width: 100%; // Ensures the underline stretches
    }
  }
  .dialog-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 20px; // Add padding on top for some space above the buttons
  
    // In RTL layout, `margin-right: auto` will push the element to the left
    .cancel-button {
      margin-right: auto;
    }
  
    // In RTL layout, `margin-left: auto` will push the element to the right
    .update-button {
      margin-left: auto;
    }
  }
  
  .mdc-dialog__title {
    text-align: center;
    font-weight: bolder;
  }
  .spaced-select {
    margin-top: 16px; /* Adjust the value to the desired spacing */
    margin-right: 16px;
  }
  
  /* permissions-dialog.component.scss */
  
  /* Add padding around the dual list box */
  dual-list {
    padding: 10px; /* Adjust the padding as needed */
  }
  
  /* Style the buttons */
  dual-list .dual-list-buttons {
    margin: 10px 0; /* Add margin above and below the buttons */
  }
  
  /* Style the individual list boxes */
  dual-list .dual-list-source,
  dual-list .dual-list-target {
    margin: 10px; /* Add margin around each list */
  }
  
  /* Style list items */
  dual-list .dual-list-source .list-group-item,
  dual-list .dual-list-target .list-group-item {
    padding: 5px 15px; /* Adjust padding for list items */
    margin-bottom: 5px; /* Add space between items */
  }
  
  input[type="text"] {
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"]:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }

  .nine h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(54, 10, 214);
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
  }
  
  ::ng-deep .point-right::after {
    content: "\25c0" !important;
  }
  ::ng-deep .point-left::before {
    content: "\25b6" !important; /* Right-pointing arrow Unicode */
  }
  .search-container {
    display: flex; /* Establishes this container as a flex container */
    flex-direction: row; /* Aligns children (the search bars) in a row */
    justify-content: space-between; /* Puts space between the search bars */
    align-items: center; /* Centers them vertically */
  }
  
  .search-selected-users, .search-users {
    flex: 1; /* Each search bar will take up an equal amount of space */
    padding: 0 10px; /* Adds some space inside each search bar container */
  }
  
  input[type="text"] {
    width: 100%; /* Forces the input to take up all available width */
    /* Retain your current input styles here */
  }
  