mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  
    .spacer {
      flex: 1;
    }
  
    .toolbar-title {
      text-align: center;
      margin: 0 20px;
    }
  
    .guide-count {
      text-align: center;
      margin: 0 20px;
    }
  
    button.mat-icon-button {
      margin-right: 16px;
    }
  }
  