.full-width {
  width: 100%;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-actions {
  display: flex;
  justify-content: center; /* center the buttons */
  gap: 10px;
  margin-top: 16px;
}


textarea {
  min-height: 60px;
  font-family: monospace;
}

mat-dialog-content, form, input, textarea {
  direction: rtl;
  text-align: right;
}
