

<div class="example-container mat-elevation-z8" dir="rtl">
    

  <mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field style="padding: 8px">
          <mat-label style="color: blue; font-size: 16px; font-weight: bold"
            >שם הדוח
          </mat-label>
          <input
            placeholder="Enter something"
            matInput
            (input)="applyFilter('name', $event)"
          />
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field appearance="outline" style="padding: 8px">
          <mat-label>פירוט</mat-label>
          <input
            matInput
            placeholder=""
            (input)="applyFilter('description', $event)"
          />
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-stroked-button color="primary" routerLink="/Isolation">
          הרצת הדוח
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
