.measurement-wrapper {
  padding-top: 80px; // adjust based on your header height
  padding-left: 16px;
  padding-right: 16px;
}
.low-percentage {
  color: red;
  font-weight: bold;
}

.high-percentage {
  color: green;
  font-weight: bold;
}
