.task-card {
    margin-bottom: 20px;
  }
  
  .column-value {
    margin-bottom: 10px;
  }
  
  .mat-elevation-z8 {
    margin: 20px 0;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 8px 16px;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  .mat-form-field {
    margin-right: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  