<div *ngIf="board">
    <h1>Tasks for Board ID: {{ boardId }}</h1>
  
    <div *ngFor="let group of board.groups">
      <h2 (click)="toggleGroup(group)">
        {{ group.title }}
      </h2>
      <div *ngIf="!group.isCollapsed">
        <table mat-table [dataSource]="getGroupDataSource(group)" class="mat-elevation-z8">
          <!-- Dynamic columns -->
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              {{ getColumnTitle(column) }}
              <input matInput (keyup)="applyColumnFilter($event, column, group.id)" placeholder="Filter">
            </th>
            <td mat-cell *matCellDef="let task">
              {{ getColumnText(task.column_values, column) }}
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  