<form [formGroup]="editGuideForm" (ngSubmit)="submitGuide()">
    <div class="form-group">
      <label>Title:</label>
      <input formControlName="title" type="text" class="form-control" placeholder="Enter guide title">
    </div>
  
    <div formArrayName="sections">
      <div *ngFor="let section of sectionsFormArray.controls; let i = index" [formGroupName]="i" class="section">
        <div class="form-group">
          <label>Position:</label>
          <input formControlName="position" type="number" class="form-control" placeholder="Section position">
        </div>
        
        <!-- Conditional Rendering -->
        <div *ngIf="section.get('type')?.value === 'Text'" class="form-group">
          <label>Text Content:</label>
          <textarea formControlName="textContent" class="form-control" placeholder="Enter text content"></textarea>
        </div>
        
        <div *ngIf="section.get('type')?.value === 'Picture'" class="form-group">
          <label>Image:</label>
          <input type="file" (change)="onFileSelected($event, i)">
          <img *ngIf="section.get('imagePath')?.value" [src]="transformImagePath(section.get('imagePath')?.value)" alt="Section Image" class="preview-img">
        </div>

        <button type="button" class="btn btn-secondary" (click)="addSection()">Add Section</button>

      </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Update Guide</button>
  </form>
  