<app-header [title]="'שם מדריך: ' + guide.title"></app-header>

<div class="body" dir="rtl">
  <form [formGroup]="editGuideForm" (ngSubmit)="submitGuide()">
    <div class="form-group">
      <label>Title:</label>
      <input formControlName="title" type="text" class="form-control" placeholder="Enter guide title">
    </div>
  
    <div formArrayName="sections">
      <div *ngFor="let section of sectionsFormArray.controls; let i = index" [formGroupName]="i" class="section">
        <div class="form-group">
          <label>Position:</label>
          <input formControlName="position" type="number" class="form-control" placeholder="Section position" readonly>
        </div>
        
        <div class="button-group">
          <button mat-raised-button class="move-button" color="primary" type="button" (click)="moveSectionUp(i)" [disabled]="i === 0">
            <mat-icon>arrow_upward</mat-icon> העלה למעלה
          </button>
          <button mat-raised-button class="move-button" color="primary" type="button" (click)="moveSectionDown(i)" [disabled]="i === sectionsFormArray.length - 1">
            <mat-icon>arrow_downward</mat-icon> הורד למטה
          </button>
          <button mat-raised-button class="move-button" color="warn" type="button" (click)="deleteSection(i)">
            <mat-icon>delete</mat-icon> מחק קטע
          </button>
        </div>
        
        <!-- Conditional Rendering -->
        <div *ngIf="section.get('type')?.value === 'Text'" class="form-group">
          <label>Text Content:</label>
          <angular-editor formControlName="textContent" [config]="editorConfig"></angular-editor>
        </div>
        
        <div *ngIf="section.get('type')?.value === 'Picture'" class="form-group">
          <label>Image:</label>
          <input type="file" (change)="onFileSelected($event, i)">
          <img *ngIf="section.get('imagePath')?.value" 
               [src]="section.get('imagePath')?.value" 
               alt="Section Image" 
               class="preview-img">
        </div>
        
      </div>
    </div>
  
    <div class="form-actions">
      <button mat-raised-button color="primary" type="button" (click)="addSection('Text')">
        <mat-icon>add</mat-icon> הוספת טקסט
      </button>
      <button mat-raised-button color="primary" type="button" (click)="addSection('Picture')">
        <mat-icon>add</mat-icon> הוספת תמונה
      </button>
      <button mat-raised-button color="accent" type="submit" class="btn-primary">
        <mat-icon>update</mat-icon> עדכון מדריך
      </button>
    </div>
  </form>
</div>

<mat-toolbar color="primary" class="footer">
  <span>© 2024 Moshe Maman</span>
  <span class="spacer"></span>
</mat-toolbar>
