.center-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.table {
  width: 100%;
}

mat-progress-bar {
  &.mat-progress-bar-green {
    --mdc-linear-progress-active-indicator-color: green;
  }

  &.mat-progress-bar-orange {
    --mdc-linear-progress-active-indicator-color: orange;
  }

  &.mat-progress-bar-red {
    --mdc-linear-progress-active-indicator-color: red;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.form-column {
  flex: 1;
  margin: 0 0.5em;
}

.full-width {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.check-green .mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-icon-color: green;
}

.checklist-container {
  display: flex;
  align-items: center;
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #000;
  --mdc-checkbox-selected-focus-icon-color: #ffd740;
  --mdc-checkbox-selected-hover-icon-color: #15cc4f;
  --mdc-checkbox-selected-icon-color: #15cc4f;
  --mdc-checkbox-selected-pressed-icon-color: #2d30b5;
  --mdc-checkbox-unselected-focus-icon-color: #0c1f9e;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
}