<mat-toolbar color="primary" class="center-title">משימות עובדים</mat-toolbar>
<div class="container" dir="rtl">
  <mat-form-field>
    <mat-label>בחר מגזר</mat-label>
    <mat-select [(value)]="selectedSektorID" (selectionChange)="loadTasks()">
      <mat-option *ngFor="let sektorID of sektorIDs" [value]="sektorID">
        {{sektorID}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openAddDialog()">הוספת משימה חדשה</button>

  <table mat-table [dataSource]="getEmployeeIDs()" class="mat-elevation-z8">
    
    A
    <ng-container matColumnDef="EmployeeID">
      <th mat-header-cell *matHeaderCellDef> ת.ז העובד </th>
      <td mat-cell *matCellDef="let employeeID"> {{employeeID}} </td>
    </ng-container>

    Static Employee SektorID Column
    <ng-container matColumnDef="EmployeeSektorID">
      <th mat-header-cell *matHeaderCellDef> מגזר העובד </th>
      <td mat-cell *matCellDef="let employeeID"> {{tasksByEmployee[employeeID].EmployeeSektorID}} </td>
    </ng-container>

    <!-- Dynamic TaskDesc Columns -->
     <ng-container *ngFor="let column of displayedColumns.slice(2)" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
      <td mat-cell *matCellDef="let employeeID">
        <mat-checkbox [(ngModel)]="tasksByEmployee[employeeID][column].DoneDate"> סיים </mat-checkbox>
        <input matInput type="number" [(ngModel)]="tasksByEmployee[employeeID][column].DayToComplete" placeholder="ימים להשלמה">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> 
