<h2 mat-dialog-title class="dialog-title">פרטי מקרה</h2>

<mat-dialog-content class="dialog-content" dir="rtl">
  <mat-card class="info-card">
    <mat-card-content>
      <div class="info-grid">
        <div><strong>קוד מדד:</strong> {{ data.Measurment_ID }}</div>
        <div><strong>תיאור:</strong> {{ data.MeasurementShortDesc }}</div>
        <div><strong>מספר מקרה:</strong> {{ data.Case_Number }}</div>
        <div><strong>תאריך:</strong> {{ data.Date | date: 'dd/MM/yyyy' }}</div>
        <div><strong>מונה:</strong> {{ data.Mone }}</div>
        <div><strong>מכנה:</strong> {{ data.Mechane }}</div>
        <div><strong>מחלקה:</strong> {{ data.Department }}</div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-form-field appearance="outline" class="remarks-field" floatLabel="always">
    <mat-label>הערות</mat-label>
    <textarea matInput [(ngModel)]="remarks" rows="3"></textarea>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="subtract" (change)="onSubtractChange()">בקשה לגרוע</mat-checkbox>
  <div class="meta">
    <span *ngIf="data.EntryUserSubtract">
      נרשם על ידי: {{ data.EntryUserSubtract }}
    </span>
    <span *ngIf="data.EntryDateSubtract">
      בתאריך {{ data.EntryDateSubtract | date:'dd/MM/yyyy HH:mm' }}
    </span>
  </div>
  
  <mat-checkbox [(ngModel)]="aprovedMabar" (change)="onApproveChange()">מאושר מבר</mat-checkbox>
  <div class="meta">
    <span *ngIf="data.EntryUserAprovedMabar">
      נרשם על ידי: {{ data.EntryUserAprovedMabar }}
    </span>
    <span *ngIf="data.EntryDateAprovedMabar">
      בתאריך {{ data.EntryDateAprovedMabar | date:'dd/MM/yyyy HH:mm' }}
    </span>
  </div>
  

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">ביטול</button>
  <button mat-raised-button color="primary" (click)="submit()">שמור</button>
</mat-dialog-actions>
