<div class="body">

<header>
    <img src="assets/צביקה.jpg" alt="מספר 1 אוהד">
    <h1>  אוהד מספר 1 – צביקה קלינגר 💛</h1>
    <h2>ברוכים הבאים לאתר האוהדים של מכבי תל אביב</h2>
  </header>
  <img src="assets/maccbi1.jfif" alt="סמל מכבי תל אביב" class="team-logo">

  <div class="section songs">
    <audio autoplay loop hidden>
        <source src="assets/maccbisong.mp3" type="audio/mpeg">
      </audio>
  </div>
  <div class="section slideshow">
    <img [src]="images[currentIndex]" alt="תמונה מתחלפת" class="slideshow-image">
  </div>
  <div class="section matches">
    <h3>משחקים קרובים</h3>
    <table>
      <thead>
        <tr>
          <th>תאריך</th>
          <th>יריבה</th>
          <th>מיקום</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01/08/2025</td>
          <td>הפועל תל אביב</td>
          <td>בלומפילד</td>
        </tr>
        <tr>
          <td>07/08/2025</td>
          <td>מכבי חיפה</td>
          <td>סמי עופר</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>