<app-spinner [isLoading]="isLoading"></app-spinner>


<mat-card *ngIf="!isLoading" class="crm-container">



    <div class="gauge-section">
        <mat-card class="gauge-card">
          <div class="gauge-title">פילוח סטטיסטיקות CRM</div>
      
          <div class="gauge-row">
            <!-- Gauge 1 -->
            <div class="gauge-item">
              <div class="gauge-title">סה״כ היום (הכל)</div>
              <ngx-gauge [value]="summary.TotalToday || 0" [type]="'full'" ></ngx-gauge>
            </div>
      
            <!-- Gauge 2 -->
            <div class="gauge-item">
              <div class="gauge-title">סה״כ החודש (הכל)</div>
              <ngx-gauge [value]="summary.TotalThisMonth || 0" [type]="'full'" ></ngx-gauge>
            </div>
      
            <!-- Gauge 3 -->
            <div class="gauge-item">
              <div class="gauge-title">סה״כ השנה (הכל)</div>
              <ngx-gauge [value]="summary.TotalThisYear || 0" [type]="'full'" ></ngx-gauge>
            </div>
      
            <!-- Gauge 4 -->
            <div class="gauge-item">
              <div class="gauge-title">סה״כ כל הזמנים (הכל)</div>
              <ngx-gauge [value]="summary.TotalAllTime || 0" [type]="'full'" ></ngx-gauge>
            </div>
      
            <!-- Gauge 5 -->
            <div class="gauge-item">
              <div class="gauge-title">סה״כ היום (מנהל תיק)</div>
              <ngx-gauge [value]="summaryWithCaseManager.TotalToday || 0" [type]="'full'" ></ngx-gauge>
            </div>
      
            <!-- Gauge 6 -->
            <div class="gauge-item">
              <div class="gauge-title">סה״כ החודש (מנהל תיק)</div>
              <ngx-gauge [value]="summaryWithCaseManager.TotalThisMonth || 0" [type]="'full'" ></ngx-gauge>
            </div>
      
            <!-- Gauge 7 -->
            <div class="gauge-item">
              <div class="gauge-title">סה״כ השנה (מנהל תיק)</div>
              <ngx-gauge [value]="summaryWithCaseManager.TotalThisYear || 0" [type]="'full'" ></ngx-gauge>
            </div>
      
            <!-- Gauge 8 -->
            <div class="gauge-item">
              <div class="gauge-title">סה״כ כל הזמנים (מנהל תיק)</div>
              <ngx-gauge [value]="summaryWithCaseManager.TotalAllTime || 0" [type]="'full'" ></ngx-gauge>
            </div>
      
          </div>
        </mat-card>
      </div>
      

  <!-- 🟢 Search Filter -->
  <mat-form-field class="long-search-bar" style="flex: 1; margin-right: 10px;">
    <mat-label class="filters" style="color: blue">חיפוש</mat-label>
    <input matInput (keyup)="applyFilter($event)" class="search-input" />
  </mat-form-field>

  <!-- 🟢 Data Table -->
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="CaseNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>מספר תיק</th>
        <td mat-cell *matCellDef="let element"> {{ element.CaseNumber }} </td>
      </ng-container>

      <ng-container matColumnDef="DepartmentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>שם מחלקה</th>
        <td mat-cell *matCellDef="let element"> {{ element.DepartmentName }} </td>
      </ng-container>

      <ng-container matColumnDef="EnterDepartDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>תאריך כניסה</th>
        <td mat-cell *matCellDef="let element"> {{ element.EnterDepartDate | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="EnterDepartTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>שעת כניסה</th>
        <td mat-cell *matCellDef="let element"> {{ element.EnterDepartTime }} </td>
      </ng-container>

      <ng-container matColumnDef="ExitHospTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>שעת יציאה</th>
        <td mat-cell *matCellDef="let element"> {{ element.ExitHospTime }} </td>
      </ng-container>

      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>שם משפחה</th>
        <td mat-cell *matCellDef="let element"> {{ element.LastName }} </td>
      </ng-container>

      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>שם פרטי</th>
        <td mat-cell *matCellDef="let element"> {{ element.FirstName }} </td>
      </ng-container>

      <ng-container matColumnDef="Telephone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>טלפון</th>
        <td mat-cell *matCellDef="let element"> {{ element.Telephone }} </td>
      </ng-container>

      <ng-container matColumnDef="Mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>נייד</th>
        <td mat-cell *matCellDef="let element"> {{ element.Mobile }} </td>
      </ng-container>

      <ng-container matColumnDef="BirthDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>תאריך לידה</th>
        <td mat-cell *matCellDef="let element"> {{ element.BirthDate | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="DeathDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>תאריך פטירה</th>
        <td mat-cell *matCellDef="let element"> {{ element.DeathDate | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="IsBirthday">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>יום הולדת</th>
        <td mat-cell *matCellDef="let element"> {{ element.IsBirthday ? 'כן' : 'לא' }} </td>
      </ng-container>

      <ng-container matColumnDef="CaseManagerStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>סטטוס מנהל תיק</th>
        <td mat-cell *matCellDef="let element"> {{ element.CaseManagerStatus }} </td>
      </ng-container>

      <ng-container matColumnDef="CaseManagerRemarks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>הערות</th>
        <td mat-cell *matCellDef="let element"> {{ element.CaseManagerRemarks }} </td>
      </ng-container>

      <ng-container matColumnDef="CaseManagerCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>קטגוריה</th>
        <td mat-cell *matCellDef="let element"> {{ element.CaseManagerCategory }} </td>
      </ng-container>

      <ng-container matColumnDef="CaseManagerUpdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>עדכון מנהל תיק</th>
        <td mat-cell *matCellDef="let element"> {{ element.CaseManagerUpdate | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator 
  [length]="dataSource.data.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 20, 50, 100]">
</mat-paginator>
  </div>

</mat-card>
