<app-spinner [isLoading]="isLoading"></app-spinner>

<mat-card  *ngIf="!isLoading" class="crm-container">
    <mat-card-title>ניהול משתמשים (CRM)</mat-card-title>

    <!-- CRM Image Card -->
    <mat-card class="crm-card">
      
         
        <img src="assets/crm-data-entry-services.jpg" alt="CRM Data Entry Services">
      </mat-card>
    <!-- <div class="filter-section">
      <mat-form-field appearance="outline">
        <mat-label>חפש...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="הזן ערך לחיפוש">
      </mat-form-field>
    </div> -->
    <mat-form-field class="long-search-bar" style="flex: 1; margin-right: 10px;">
        <mat-label class="filters" style="color: blue">חיפוש</mat-label>
        <input matInput (keyup)="applyFilter($event)" class="search-input" />
      </mat-form-field>

  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
        <ng-container matColumnDef="CaseNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>מספר תיק</th>
          <td mat-cell *matCellDef="let element"> {{ element.CaseNumber }} </td>
        </ng-container>
  
        <ng-container matColumnDef="DepartmentName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>שם מחלקה</th>
          <td mat-cell *matCellDef="let element"> {{ element.DepartmentName }} </td>
        </ng-container>
  
        <ng-container matColumnDef="EnterDepartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>תאריך כניסה</th>
          <td mat-cell *matCellDef="let element"> {{ element.EnterDepartDate | date:'dd/MM/yyyy' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="EnterDepartTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>שעת כניסה</th>
          <td mat-cell *matCellDef="let element"> {{ element.EnterDepartTime }} </td>
        </ng-container>
  
        <ng-container matColumnDef="ExitHospTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>שעת יציאה</th>
          <td mat-cell *matCellDef="let element"> {{ element.ExitHospTime }} </td>
        </ng-container>
  
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>שם משפחה</th>
          <td mat-cell *matCellDef="let element"> {{ element.LastName }} </td>
        </ng-container>
  
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>שם פרטי</th>
          <td mat-cell *matCellDef="let element"> {{ element.FirstName }} </td>
        </ng-container>
  
        <ng-container matColumnDef="Telephone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>טלפון</th>
          <td mat-cell *matCellDef="let element"> {{ element.Telephone }} </td>
        </ng-container>
  
        <ng-container matColumnDef="Mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>נייד</th>
          <td mat-cell *matCellDef="let element"> {{ element.Mobile }} </td>
        </ng-container>
  
        <ng-container matColumnDef="BirthDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>תאריך לידה</th>
          <td mat-cell *matCellDef="let element"> {{ element.BirthDate | date:'dd/MM/yyyy' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="DeathDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>תאריך פטירה</th>
          <td mat-cell *matCellDef="let element"> {{ element.DeathDate | date:'dd/MM/yyyy' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="IsBirthday">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>יום הולדת</th>
          <td mat-cell *matCellDef="let element"> {{ element.IsBirthday ? 'כן' : 'לא' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="CaseManagerStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>סטטוס מנהל תיק</th>
          <td mat-cell *matCellDef="let element"> {{ element.CaseManagerStatus }} </td>
        </ng-container>
  
        <ng-container matColumnDef="CaseManagerRemarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>הערות</th>
          <td mat-cell *matCellDef="let element"> {{ element.CaseManagerRemarks }} </td>
        </ng-container>
  
        <ng-container matColumnDef="CaseManagerCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>קטגוריה</th>
          <td mat-cell *matCellDef="let element"> {{ element.CaseManagerCategory }} </td>
        </ng-container>
  
        <ng-container matColumnDef="CaseManagerUpdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>עדכון מנהל תיק</th>
          <td mat-cell *matCellDef="let element"> {{ element.CaseManagerUpdate | date:'dd/MM/yyyy' }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openPhoneCallDialog(row)" class="clickable-row"></tr>
      </table>
    </div>
  
</mat-card>
  