.example-spacer {
  flex: 1 1 auto;
  justify-content: center;
  background: #1976d2;
}

.body {
  margin: 0 auto;
  //max-width: 1248px;
  mat-form-field {
    width: 100%;
  }
  padding: 10px;
}



