/* guides-list.component.css */
.mat-elevation-z8 {
    box-shadow: 0 6px 10px -5px rgba(0,0,0,.2);
  }
  
  mat-header-cell, mat-cell {
    padding: 8px;
  }
  
  button {
    margin: 0;
    padding: 4px 8px;
  }

  /* styles.scss or new-guide-form.component.scss */
.image-preview {
  width: 500px;  /* or any other dimensions */
  height: 500px;
  margin-top: 10px;
}
/* new-guide-form.component.scss */
/* styles.scss or new-guide-form.component.scss */
/* new-guide-form.component.scss */
.full-width-form {
  display: flex;
  flex-direction: column;
  width: 95%; /* Ensure the form takes up the full width */
}

.full-width-input {
  width: 95%; /* Ensures input fields take full width */
}

.section {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.new-guide-form .full-width-input {
  width: 95%; /* Ensures input fields take full width */
}

.section .mat-form-field.full-width-input {
  width: 95%;
}
