html, body, .guide-container {
  height: 100%;
  margin: 0;
}

.guide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8; /* Light grey background */
  padding-bottom: 20px; /* Space for the footer */
  padding-top: 20px; /* Space for the header */
  flex: 1;
}

.guide-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8; /* Light grey background */
  padding-bottom: 20px; /* Space for the footer */
  padding-top: 20px; /* Space for the header */
}

.toolbar {
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between; /* Search field and add button on opposite ends */
  align-items: center;
  padding: 0;
  margin-bottom: 5px;
}

.search-field {
  flex-grow: 1;
  margin-right: 20px;
}

.add-button {
  color: white; /* Ensures the icon within the button is white */
}

.table-style {
  width: 100%; /* Full available width */
  background-color: white;
  border-radius: 8px;
}

mat-cell {
  padding: 16px;
}

mat-paginator {
  background: transparent;
  color: #007bff;
  font-weight: bold;
}

.mat-toolbar[color="primary"] {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-spacer {
  flex: 0; /* No effect from spacer */
}

.mat-toolbar .example-icon, .mat-toolbar span {
  margin: 0 8px; /* Consistent spacing around items */
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main-content {
  display: flex;
  gap: 20px;
  width: 100%;
}

.main-table-card, .side-table-card {
  padding: 20px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.main-table-card {
  flex: 2; /* Adjusts the proportion of the main table */
  max-width: 80%; /* You can set a max width if needed */
 
}

.side-table-card {
  flex: 1; /* Adjusts the proportion of the side table */
  max-width: 20%; /* You can set a max width if needed */
}

.side-table-card table {
  margin-top: 10px;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.side-table-card mat-cell {
  text-align: center;
}
