/* guides-list.component.css */
.mat-elevation-z8 {
    box-shadow: 0 6px 10px -5px rgba(0,0,0,.2);
  }
  
  mat-header-cell, mat-cell {
    padding: 8px;
  }
  
  button {
    margin: 0;
    padding: 4px 8px;
  }
  