<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<!-- quick styles for wrapping & layout (can move to .scss if you prefer) -->


<div class="body" dir="rtl">
  <form [formGroup]="filterForm" class="filter-form">
    <div class="container-fluid mb-2">
      <div class="row search-count">
        <div class="col">
          <div class="card" dir="rtl">
            <div class="card-body" dir="rtl">
              <!-- Render only the filters you list in filterFields -->
              <ng-container *ngFor="let column of filterFields; let i = index">
                <div class="filter-row" *ngIf="i % 4 === 0"></div>

                <!-- Department with autocomplete -->
                <mat-form-field class="filter-field" *ngIf="column === 'departnentDescripton'">
                  <mat-label class="filters">{{ getColumnLabel(column) }}</mat-label>
                  <input
                    type="text"
                    matInput
                    [formControl]="$any(getFormControl(column))"
                    [matAutocomplete]="deptAuto" />
                  <mat-autocomplete #deptAuto="matAutocomplete">
                    <mat-option *ngFor="let opt of filteredResponsibilities | async" [value]="opt">
                      {{ opt }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <!-- Other text filters -->
                <mat-form-field class="filter-field" *ngIf="column !== 'departnentDescripton'">
                  <mat-label class="filters">{{ getColumnLabel(column) }}</mat-label>
                  <input matInput [formControl]="$any(getFormControl(column))" class="filter-input" />
                </mat-form-field>
              </ng-container>
            </div>

            <div class="reset-button-container">
              <button
                mat-button
                (click)="resetFilters()"
                mat-raised-button
                color="primary"
                class="custom-button"
                matTooltip="איפוס מסננים">
                <i class="material-icons">refresh</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="display:flex; justify-content:space-between; align-items:center">
      <mat-form-field class="long-search-bar" style="flex:1; padding-inline-start:10px">
        <mat-label class="filters" style="color: blue">חיפוש</mat-label>
        <input matInput [formControlName]="'globalFilter'" class="search-input" />
      </mat-form-field>

      <div class="icon" matTooltip="הורד לאקסל">
        <img
          src="../../assets/excel.png"
          alt="Download"
          (click)="exportToExcel()"
          class="download-icon"
          width="50" />
      </div>
    </div>
  </form>

  <!-- table -->
  <mat-table
    *ngIf="!showGraph"
    [dataSource]="matTableDataSource"
    matSort
    dir="rtl"
    class="mat-elevation-z8 w-wrap">

    <!-- Dynamic columns (handle dates specially, link as actions) -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ getColumnLabel(column) }}
      </mat-header-cell>

      <mat-cell *matCellDef="let element" [ngSwitch]="column" class="wrap">
        <!-- Special: link column with actions -->
        <ng-container *ngSwitchCase="'link'">
          <div class="link-actions">
            <button
              mat-stroked-button
              color="primary"
              class="press-link-btn"
              [disabled]="!(element?.link || element?.cellNumber)"
              matTooltip="פתח קישור"
              (click)="openPerm(element)">
              <mat-icon style="margin-inline-end:6px;">open_in_new</mat-icon>
              קישור
            </button>

            <button
              mat-icon-button
              class="pdf-btn"
              [disabled]="!(element?.link || element?.cellNumber)"
              matTooltip="הורד PDF של הדף"
              (click)="downloadPermPdf(element)"
              aria-label="הורד PDF">
              <img src="assets/PDF.jfif" class="pdf-icon" alt="PDF" draggable="false" />
            </button>
          </div>
        </ng-container>

        <!-- Special: date columns formatted nicely -->
        <ng-container *ngSwitchCase="'doctorSignDateTime'">
          {{ element?.doctorSignDateTime | date:'dd/MM/yyyy HH:mm' }}
        </ng-container>
        <ng-container *ngSwitchCase="'directManagerSignDateTime'">
          {{ element?.directManagerSignDateTime | date:'dd/MM/yyyy HH:mm' }}
        </ng-container>
        <ng-container *ngSwitchCase="'headManagerSignDateTime'">
          {{ element?.headManagerSignDateTime | date:'dd/MM/yyyy HH:mm' }}
        </ng-container>

        <!-- Default cell: show raw value, allow wrapping -->
        <ng-container *ngSwitchDefault>
          {{ element[column] }}
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns" class="mat-row"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="matTableDataSource.data.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 50, 100]">
  </mat-paginator>
</div>
