<div class="container">
  <!-- Header Section -->

  <div class="content">
    <div class="flex-container">
      <mat-form-field appearance="outline" class="flex-item">
        <mat-label>Search Servers</mat-label>
        <input matInput [formControl]="searchControl" placeholder="Search by hostname or description">
      </mat-form-field>
      <button mat-icon-button [routerLink]="['/manage-servers']" class="flex-item">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="sendPingNow()" class="flex-item">Send Ping Now</button>
    </div>

    <!-- Server Section -->
    <div class="section-container">
      <h2>
        <mat-icon>dns</mat-icon> Servers
      </h2>
      <div class="server-container" *ngIf="serverTypeServers.length > 0">
        <mat-card *ngFor="let server of serverTypeServers" class="server-card" [ngStyle]="{ 'background-color': getStatusColor(PingResults[server.ServerId]?.Status) }">
          <mat-card-title>Server: {{ server.Hostname }}</mat-card-title>
          <mat-card-content>
            <p>{{ server.Description }}</p>
            <p [ngClass]="{
                  'status-online': PingResults[server.ServerId]?.Status === 'Online',
                  'status-offline': PingResults[server.ServerId]?.Status === 'Offline'
                }">
              Status: {{ PingResults[server.ServerId]?.Status || 'Unknown' }}
            </p>
            <p>Last Check: {{ PingResults[server.ServerId]?.LastCheck | date:'short' }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Other Types Section -->
    <div class="section-container">
      <h2>
        <mat-icon>computer</mat-icon> Other Types
      </h2>
      <div class="server-container" *ngIf="otherTypeServers.length > 0">
        <mat-card *ngFor="let server of otherTypeServers" class="server-card" [ngStyle]="{ 'background-color': getStatusColor(PingResults[server.ServerId]?.Status) }">
          <mat-card-title>{{ server.Type }}: {{ server.Hostname }}</mat-card-title>
          <mat-card-content>
            <p>{{ server.Description }}</p>
            <p [ngClass]="{
                  'status-online': PingResults[server.ServerId]?.Status === 'Online',
                  'status-offline': PingResults[server.ServerId]?.Status === 'Offline'
                }">
              Status: {{ PingResults[server.ServerId]?.Status || 'Unknown' }}
            </p>
            <p>Last Check: {{ PingResults[server.ServerId]?.LastCheck | date:'short' }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>


</div>
