<app-spinner [isLoading]="isLoading"></app-spinner>

<div *ngIf="!isLoading" class="body" >
    <div class="tables-container">
        <div class="table-wrapper">
    <h2 class="table-title">1. אוכלוסיות בגיליון</h2>
    <table mat-table [dataSource]="tableData" class="mat-elevation-z8" *ngIf="!isLoading" dir="rtl">
  
      <!-- Define Columns -->
  
      <!-- Total Patients Column -->
      <ng-container matColumnDef="totalPatients">
        <th mat-header-cell *matHeaderCellDef> מאושפזים בגיל 65+ שהתאשפזו בכל מחלקות בית החולים </th>
        <td mat-cell *matCellDef="let row"> {{ row.totalPatients }} </td>
      </ng-container>
  
      <!-- Internal and Surgical Patients Column -->
      <ng-container matColumnDef="internalAndSurgicalPatients">
        <th mat-header-cell *matHeaderCellDef> מאושפזים 65+ בכלל המחלקות באגף הפנימי והכירורגי </th>
        <td mat-cell *matCellDef="let row"> {{ row.internalAndSurgicalPatients }} </td>
      </ng-container>
  
      <!-- Walking Program Patients Column -->
      <ng-container matColumnDef="walkingProgramPatients">
        <th mat-header-cell *matHeaderCellDef> מאושפזים בגיל 65+ בכלל המחלקות המשתתפות בתכנית הליכה </th>
        <td mat-cell *matCellDef="let row"> {{ row.walkingProgramPatients }} </td>
      </ng-container>
  
      <!-- Walking Program Achieved 70% Column -->
      <ng-container matColumnDef="walkingProgramAchieved70">
        <th mat-header-cell *matHeaderCellDef> מאושפזים בגיל 65+ שהשתתפו בתכנית הליכה - מטופלים שעמדו ביעד של 70% </th>
        <td mat-cell *matCellDef="let row"> {{ row.walkingProgramAchieved70 }} </td>
      </ng-container>
  
      <!-- Table Headers Row -->
      <tr mat-header-row *matHeaderRowDef="['totalPatients', 'internalAndSurgicalPatients', 'walkingProgramPatients', 'walkingProgramAchieved70']"></tr>
  
      <!-- Table Data Row -->
      <tr mat-row *matRowDef="let row; columns: ['totalPatients', 'internalAndSurgicalPatients', 'walkingProgramPatients', 'walkingProgramAchieved70'];"></tr>
  
    </table>
</div>
<div class="table-wrapper">

      <!-- Second Table Title -->
  <h2 class="table-title">2. משתתפים בתכנית הליכה לפי מחלקה (יעד 1)</h2>

  <table mat-table [dataSource]="departmentTableData" class="mat-elevation-z8" *ngIf="!isLoading" dir="rtl">

    <ng-container matColumnDef="departmentType">
      <th mat-header-cell *matHeaderCellDef> סוג המחלקה (פנימית \ כירורגית) </th>
      <td mat-cell *matCellDef="let row"> {{ row.departmentType }} </td>
    </ng-container>

    <ng-container matColumnDef="departmentName">
      <th mat-header-cell *matHeaderCellDef> שם המחלקה (למשל: כירורגיה כללית א') </th>
      <td mat-cell *matCellDef="let row"> {{ row.departmentName }} </td>
    </ng-container>

    <ng-container matColumnDef="totalPatients">
      <th mat-header-cell *matHeaderCellDef> מספר מאושפזים בני 65+ במחלקה </th>
      <td mat-cell *matCellDef="let row"> {{ row.totalPatients }} </td>
    </ng-container>

    <ng-container matColumnDef="walkingParticipants">
      <th mat-header-cell *matHeaderCellDef> מאושפזים בגיל 65+ שהשתתפו בתכנית הליכה </th>
      <td mat-cell *matCellDef="let row"> {{ row.walkingParticipants }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['departmentType', 'departmentName', 'totalPatients', 'walkingParticipants']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['departmentType', 'departmentName', 'totalPatients', 'walkingParticipants'];"></tr>
  </table>
</div>

<div class="table-wrapper">
    <h2 class="table-title">3. תכנית הליכה - שאלות כלליות</h2>
  
    <table mat-table [dataSource]="generalQuestionsData" class="mat-elevation-z8" dir="rtl">
      
      <!-- First Question Row -->
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row"> {{ row.question }} </td>
      </ng-container>
  
      <ng-container matColumnDef="answer">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row"> {{ row.answer }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['question', 'answer']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['question', 'answer'];"></tr>
  
    </table>
  </div>

  <h2 class="table-title">4. מספר מאושפזים לפי קבוצת גיל ומין</h2>

  <table mat-table [dataSource]="ageGenderTableData" class="mat-elevation-z8">

    <!-- Age Group Column -->
    <ng-container matColumnDef="ageGroup">
      <th mat-header-cell *matHeaderCellDef> גיל / מין </th>
      <td mat-cell *matCellDef="let row"> {{ row.ageGroup }} </td>
    </ng-container>
  
    <!-- Total Male Column -->
    <ng-container matColumnDef="totalMale">
      <th mat-header-cell *matHeaderCellDef> זכר </th>
      <td mat-cell *matCellDef="let row"> {{ row.totalMale }} </td>
    </ng-container>
  
    <!-- Total Female Column -->
    <ng-container matColumnDef="totalFemale">
      <th mat-header-cell *matHeaderCellDef> נקבה </th>
      <td mat-cell *matCellDef="let row"> {{ row.totalFemale }} </td>
    </ng-container>
  
    <!-- Walking Program Male Column -->
    <ng-container matColumnDef="walkingMale">
      <th mat-header-cell *matHeaderCellDef> זכר </th>
      <td mat-cell *matCellDef="let row"> {{ row.walkingMale }} </td>
    </ng-container>
  
    <!-- Walking Program Female Column -->
    <ng-container matColumnDef="walkingFemale">
      <th mat-header-cell *matHeaderCellDef> נקבה </th>
      <td mat-cell *matCellDef="let row"> {{ row.walkingFemale }} </td>
    </ng-container>
  
    <!-- Achieved 70% Male Column -->
    <ng-container matColumnDef="achieved70Male">
      <th mat-header-cell *matHeaderCellDef> זכר </th>
      <td mat-cell *matCellDef="let row"> {{ row.achieved70Male }} </td>
    </ng-container>
  
    <!-- Achieved 70% Female Column -->
    <ng-container matColumnDef="achieved70Female">
      <th mat-header-cell *matHeaderCellDef> נקבה </th>
      <td mat-cell *matCellDef="let row"> {{ row.achieved70Female }} </td>
    </ng-container>
  
    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  
  </table>
  
  


  </div>
  