/* isolation.component.scss */
.body {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
  padding-top: 20px;
}

mat-table.mat-elevation-z8 mat-row:nth-child(even) {
  background-color: white;
}

mat-table.mat-elevation-z8 mat-row:nth-child(odd) {
  background-color: rgb(187, 215, 254);
}
mat-table.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(15, 15, 222, 0.2); /* Blue shadow effect */
}
mat-table mat-cell {
  font-weight: bold;
}

mat-form-field {
  padding-right: 5px;
}

mat-table mat-header-cell {
  color: rgb(8, 0, 255);
  font-style: italic;
  font-weight: bolder;
  font-size: larger;
}
.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #333; /* Adjust the color as needed */
  padding-bottom: 2px;
  margin-bottom: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title2 {
  text-align: right;
  font-size: 16px;
  font-weight: bold;

  padding-bottom: 2px;
  margin-bottom: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.global-filter {
  width: 100%; /* Set the width of the container to 100% */
}

.long-search-bar {
  width: 100%; /* Set the width of the form field to 100% */
}

.search-input {
  width: 100%; /* Set the width of the input field to 100% */
}

/* Add this to your isolation.component.scss file */

.global-filter {
  display: flex;
  align-items: flex-start;
  //padding: 8px; /* Adjust the padding as needed */
  // background-color: #ef1313; /* Set the background color */
}

.search-bar {
  width: 100%;
  border: none;
  outline: none;
  //padding: 8px; /* Adjust the padding as needed */
  border-radius: 4px; /* Add some border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(223, 9, 9, 0.1); /* Add a subtle box-shadow */
}

/* Optional: Add transition for a smooth effect */
.search-bar {
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-bar:focus {
  background-color: rgb(230, 10, 10); /* Change background color on focus */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance box-shadow on focus */
}
.download-icon {
  width: 48px;
  height: 48px;
}

.icon {
  padding-right: 10px;
  padding-left: 10px;
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}
.seven h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.seven h1:after,
.seven h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #2806ec;
  border-top: 1px solid #2806ec;
  height: 5px;
  background-color: #f8f8f8;
}
.filter-form {
  padding-top: 10px;
}
