<div class="container">
    <div class="content">
      <div class="header-bar">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search Applications</mat-label>
          <input matInput (input)="applyFilter($event)" placeholder="Search by application name or company name">
        </mat-form-field>
  
        <button
          mat-fab
          color="primary"
          class="add-task-btn"
          matTooltip="הוספת רשומה חדשה "
          (click)="openAddDialog()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
  
      <table mat-table [dataSource]="filteredApplications" class="mat-elevation-z8" style="width: 100%;">
        <!-- ApplicationName Column -->
        <ng-container matColumnDef="ApplicationName">
          <th mat-header-cell *matHeaderCellDef> שם היישום </th>
          <td mat-cell *matCellDef="let application"> {{application.ApplicationName}} </td>
        </ng-container>
  
        <!-- ApplicationDescription Column -->
        <ng-container matColumnDef="ApplicationDescription">
          <th mat-header-cell *matHeaderCellDef> תיאור היישום </th>
          <td mat-cell *matCellDef="let application"> {{application.ApplicationDescription}} </td>
        </ng-container>
  
        <!-- CompanyName Column -->
        <ng-container matColumnDef="CompanyName">
          <th mat-header-cell *matHeaderCellDef> שם החברה </th>
          <td mat-cell *matCellDef="let application"> {{application.CompanyName}} </td>
        </ng-container>
  
        <!-- UsedBy Column -->
        <ng-container matColumnDef="UsedBy">
          <th mat-header-cell *matHeaderCellDef> בשימוש על ידי </th>
          <td mat-cell *matCellDef="let application"> {{application.UsedBy}} </td>
        </ng-container>
  
        <!-- ApplicationNameInEnglish Column -->
        <ng-container matColumnDef="ApplicationNameInEnglish">
          <th mat-header-cell *matHeaderCellDef> שם באנגלית </th>
          <td mat-cell *matCellDef="let application"> {{application.ApplicationNameInEnglish}} </td>
        </ng-container>

      <!-- User In Charge Names Column -->
<ng-container matColumnDef="UserInChargeNames">
  <th mat-header-cell *matHeaderCellDef> רפרנט אחראי </th>
  <td mat-cell *matCellDef="let application"> {{ application.UserInChargeNames }} </td>
</ng-container>
  
<!-- Actions Column -->
<ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef> אנשי קשר/עריכה</th>
  <td mat-cell *matCellDef="let application">
    <button mat-icon-button color="primary" (click)="openEditDialog(application)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openContactsDialog(application.ApplicationID)">
      <mat-icon>contacts</mat-icon>
    </button>
  </td>
</ng-container>


  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  