<h1 mat-dialog-title>Add Shift for</h1>

<div [formGroup]="shiftForm" mat-dialog-content>
  <!-- Employee Selection -->
  <mat-form-field appearance="fill">
    <mat-label>Select Employee</mat-label>
    <mat-select formControlName="employeeId">  <!-- Save EmployeeID -->
      <mat-option *ngFor="let employee of employees" [value]="employee.EmployeeID">
        {{employee.FirstName}} {{employee.LastName}}  <!-- Display FirstName and LastName -->
      </mat-option>
    </mat-select>
    <mat-error *ngIf="shiftForm.get('employeeId')?.invalid">Employee is required</mat-error>
  </mat-form-field>

  <!-- Comment Input -->
  <mat-form-field appearance="fill">
    <mat-label>Comment</mat-label>
    <input matInput formControlName="comment">
    <mat-error *ngIf="shiftForm.get('comment')?.invalid">Comment is required</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="shiftForm.invalid" (click)="onSave()">Save</button>
</div>
