/* Main dashboard styling */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Header styling */
mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

mat-toolbar > div {
  flex: 1;
}

mat-toolbar .welcome-message {
  text-align: left;
  order: -1;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px; /* Adjust if header height changes */
  height: calc(100vh - 64px); /* Adjust if additional elements affect total height */
}
/* Ensure full height for all main sections */
// .cards,
// .important-links,
// .tasks-table,.important-messages-cards {
//   flex-grow: 1; /* Grow to use up available space */
//   height: calc(100vh - 64px - 20px); /* Full viewport height minus header and any additional spacing */
//   overflow-y: auto; /* Allow scrolling within sections if content is too long */
//   border: 2px solid #ccc; /* Consistent border */
//   padding: 10px;
//   box-sizing: border-box; /* Include padding and border in the height calculation */
// }

/* Right side content layout */
.right-content {
  width: 30%; /* Width to match the cards */
  display: flex;
  flex-direction: column;
}

/* Task table styling */
.tasks-table {
  height: 50vh;
  overflow-y: auto;
  flex: 1;
  margin-right: 1%;
  border: 2px solid #ccc;
  
  
}

/* Table row styling */
table {
  width: 95%;
  margin: 20px auto;
}

// .mat-row:nth-child(odd) {
//   background-color: white;
// }

// .mat-row:nth-child(even) {
//   background-color: rgb(222, 212, 241);
// }

.mat-row:hover {
  background-color: darkgray;
  cursor: pointer;
}

/* Cards styling */
.cards {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to the next row */
  justify-content: space-between; /* Evenly distributes space between cards */
  align-items: flex-start; /* Aligns cards to the top of the container */
  height: 50vh; /* Fixed height as specified */
  overflow-y: auto; /* Scroll if content exceeds the container's height */
  width: 100%; /* Take the full width of its parent container */
  border: 2px solid #ccc;
  padding: 2px; /* Padding inside the cards container */
}

/* Individual card styling */
.card {
  background-color: rgb(222, 212, 241);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px); /* Adjust width to fit two cards per row including margin */
  margin: 5px; /* Margin around each card */
  padding: 15px;
  box-sizing: border-box; /* Include padding and border in width calculation */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: #090808;
}

/* Card value colors */
.card-value-red {
  color: red;
}

.card-value-blue {
  color: blue;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .right-content {
    width: 100%;
  }
  .tasks-table,
  .cards {
    width: 100%;
    margin-right: 0;
  }
  
  .card {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* General container styling */
.container {
  min-width: 100%;
}

/* Style for the table and cards section titles */
.table-title,
.cards-title ,.important-messages-title {
  font-size: 15px;
  font-weight: bold;
  color: #090808;
  text-align: center;
  padding: 1px 0;
  margin-left: 20px;
  border-bottom: 2px solid #ccc;
  width: calc(100% - 40px);
}

@media (max-width: 768px) {
  .table-title,
  .cards-title {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
  }
}

// /* Messages styling */
// .important-messages {
//   height: calc(50vh - 10px); /* Subtracting the margin between the cards and messages */
//   overflow-y: auto; /* Scrollbar appears if content overflows */
//   border: 2px solid #ccc;
//   padding: 2px;
//   //margin-top: 1%;
//   margin-right: 1%;
//   margin-top: 10px;
//   box-sizing: border-box; /* Include padding and border in the height calculation */
//   direction: rtl; /* For right-to-left text direction */
//   height: calc(100vh - 64px - 20px - 50vh - 50px); /* height of the viewport - header - padding - height of cards - margin */
// }
// .important-messages-title {
//   font-size: 20px;
//   font-weight: bold;
//   color: #090808;
//   text-align: right;
//   padding: 10px 0;
//   border-bottom: 2px solid #ccc;
// }

// .message {
//   background-color: rgb(222, 212, 241);
//   border-radius: 10px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   padding: 2px;
//   margin: 5px 0;
//   color: #090808;
//   //font-weight: bold;
//   text-align: right;
//   border: 1px solid rgb(17, 16, 16);
// }
// /* Responsive adjustments */
// @media (max-width: 768px) {
//   .card {
//     width: 100%; /* Full width cards on smaller screens */
//     margin-bottom: 10px; /* Adjust margin as needed */
//   }
// }

.content {
  display: flex;
  justify-content: space-between; /* Adjust if you want the children to use up the available space */
}

.left-content {
  flex-grow: 1; /* Allow left content to expand and take up available space */
  /* You might want to set a max-width if needed */
}

.right-content {
  flex-basis: 30%; /* Adjust the width of the right content here if necessary */
  /* Make sure to not set both flex-basis and width or it might lead to conflicts */
}
/* Important Links styling */
/* Important Links styling to match the dashboard design */
.important-links {
  //background-color: rgb(222, 212, 241); /* Using the same purple shade as other parts */
  //border-radius: 10px; /* Consistent border radius as cards */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Consistent shadow as cards */
  padding: 2px; /* Consistent padding as cards */
  margin: 10px 0; /* Consistent spacing as other elements */
  box-sizing: border-box; /* Box-sizing similar to other elements */
  direction: rtl; /* Right-to-left text direction */
  overflow-y: auto; /* Scrollbar appears if content overflows */
  border: 2px solid #ccc;
  height: calc(100vh - 64px - 20px - 50vh - 40px); /* height of the viewport - header - padding - height of cards - margin */
}

.links-title {
  font-size: 15px; /* Matching font size as other titles */
  font-weight: bold; /* Bold text as other titles */
  color: #090808; /* Consistent text color */
  text-align: center; /* Titles centered as other parts */
  padding: 1px 0; /* Consistent padding */
  margin: 0 20px; /* Consistent margin */
  border-bottom: 2px solid #ccc; /* Consistent border as other titles */
}

/* Links list styling for a 6-in-a-row layout */
.links-list {
  display: flex; /* Use flexbox to create a row */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: flex-start; /* Align items to the start of the flex container */
  align-items: stretch; /* Stretch items to fill the container */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  list-style-type: none; /* Remove list bullet points */
}

.links-list li {
  flex: 0 0 20%; /* Each item takes up 16.66% of the container width */
  max-width: 20%; /* Ensure the item does not grow larger than 16.66% */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 5px; /* Add some padding around each item */
  text-align: center; /* Center text in each item */
  margin-bottom: 10px; /* Add some margin below each item */
  
}

.links-list li a {
  display: block; /* Make the link fill the entire list item area */
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Color of the text */
  background-color: rgb(222, 212, 241);
    padding: 10px; /* Padding inside the link for spacing */
  border: 1px solid rgb(17, 16, 16); /* Border for the link */
  border-radius: 5px; /* Rounded corners for the link */
  transition: all 0.3s ease; /* Transition for interactive states */
}


.links-list li a:hover {
  background-color: #eae0f8; /* Change background color on hover */
  text-decoration: underline; /* Underline text on hover */
}

.links-list li a:hover {
  text-decoration: underline; /* Underline link on hover for indication */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .links-list li {
    flex: 0 0 33.33%; /* Switch to 3 items per row */
    max-width: 33.33%;
  }
}

@media (max-width: 768px) {
  .links-list li {
    flex: 0 0 50%; /* Switch to 2 items per row */
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .links-list li {
    flex: 0 0 100%; /* Switch to 1 item per row */
    max-width: 100%;
  }
}

.important-messages-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%; /* Takes full width of its container */
}

/* Container for all messages including the title */
.messages-container {
 // width: 100%;
  border: 2px solid #ccc; /* Border around the entire container */
  padding: 2px;
  box-sizing: border-box;
  margin-top: 1px; /* Space between the container and other elements */
  background-color: #fff; /* White background for the container */
  overflow-y: auto; /* Scrollbar appears if content overflows */
  
  height: calc(100vh - 64px - 20px - 50vh - 40px); /* height of the viewport - header - padding - height of cards - margin */
}

/* Title within the container */
.important-messages-title {
  font-size: 15px; /* Matching font size as other titles */
  font-weight: bold; /* Bold text as other titles */
  color: #090808; /* Consistent text color */
  text-align: center; /* Titles centered as other parts */
  padding: 1px 0; /* Consistent padding */
  margin: 0 20px; /* Consistent margin */
  border-bottom: 2px solid #ccc; /* Consistent border as other titles */
 
}

/* Flex container for cards */
.message-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Centers cards with space around them */
  gap: 1px; /* Space between cards */
  padding-top: 5px;
 
}

/* Individual message card */
.message-card {
  flex: 0 0 calc(33% - 20px); /* Sets the basis for two cards per row accounting for gap */
  border: 1px solid #ccc; /* Border around each card */
  border-radius: 5px; /* Rounded corners for each card */
  padding: 5px; /* Padding inside each card */
  margin-bottom: 10px; /* Space between rows of cards */
  background-color: #E6F4F1; /* Background color for each card */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.message-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mat-card-header, .mat-card-content, .mat-card-actions {
  padding: 8px;
}

.mat-card-title, .mat-card-subtitle {
  margin-right: 10px;
}

/* Responsive adjustments for very small screens */
@media (max-width: 600px) {
  .message-card {
    flex: 0 0 100%; /* Each card takes full width on small screens */
    max-width: 100%; /* Ensures card doesn't exceed the container's width */
  }
}

.message {
  border: 1px solid #ccc; /* Subtle border for individual messages */
  margin-bottom: 15px; /* Space between messages */
  padding: 10px; /* Padding inside each message for spacing */
  border-radius: 4px; /* Optionally round the corners of the message borders */
}
.priority-1 {
  color:#893232;
  background-color: #fadddd;
  border-color:#f7cbcb;
}


.priority-2 {
  color:#1c6e37;
  background-color: #d5f1de;
  border-color:#c0eace;
}

.priority-3 {
  color:rgba(131, 107, 52, .97);
  background-color: #feefd0;
  border-color:#fde8b9;
}
