<div class="dashboard">
  <div class="dashboard">
    <div class="welcome-message">Welcome, {{ loginUserName }}!</div>
    <h2>User Dashboard</h2>

    <!-- Section for the first four cards -->
    <div class="card-container">
      <div class="card-row">
        <div class="card">
          <div class="card-title">Open Calls</div>
          <div
            class="card-value"
            [ngClass]="
              userData.open_calls > 0 ? 'card-value-red' : 'card-value-blue'
            "
          >
            {{ userData.open_calls }}
          </div>
        </div>
        <div class="card">
          <div class="card-title">Follow-Up Calls</div>
          <div
            class="card-value"
            [ngClass]="{
              'card-value-blue': userData.fallowUp_calls == '0',
              'card-value-red': userData.fallowUp_calls != '0'
            }"
          >
            {{ userData.fallowUp_calls }}
          </div>
        </div>
      </div>
      <div class="card-row">
        <div class="card">
          <div class="card-title">Waiting for User Response</div>
          <div
            class="card-value"
            [ngClass]="{
              'card-value-blue': userData.waiting_for_user_response == '0',
              'card-value-red': userData.waiting_for_user_response != '0'
            }"
          >
            {{ userData.waiting_for_user_response }}
          </div>
        </div>
        <div class="card">
          <div class="card-title">On Hold</div>
          <div
            class="card-value"
            [ngClass]="{
              'card-value-blue': userData.on_hold == '0',
              'card-value-red': userData.on_hold != '0'
            }"
          >
            {{ userData.on_hold }}
          </div>
        </div>
      </div>
    </div>

    <!-- Section for the last two cards -->
    <div class="card-container" style="flex-direction: column">
      <div class="card">
        <div class="card-title">Closed Today</div>
        <div class="card-value">{{ userData.closed_today }}</div>
      </div>
      <div class="card">
        <div class="card-title">Closed This Month</div>
        <div class="card-value">{{ userData.closed_this_month }}</div>
      </div>
    </div>

    <!-- ... Your Tasks Table and Other Content ... -->
  </div>

  <h2>Tasks</h2>
  <mat-table
    [dataSource]="matTableDataSource"
    matSort
    dir="rtl"
    class="mat-elevation-z8"
  >
    <!-- Loop through columns to define each column in the table -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ getColumnLabel(column) }}
        <!-- Use the function to get display-friendly labels -->
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
    </ng-container>

    <!-- Define the header row -->
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <!-- Define the data row -->
    <mat-row *matRowDef="let row; columns: columns" class="mat-row"></mat-row>
  </mat-table>

  <!-- Define the paginator with page size options -->
  <mat-paginator
    [length]="matTableDataSource.paginator?.length || 0"
    [pageIndex]="matTableDataSource.paginator?.pageIndex"
    [pageSize]="matTableDataSource.paginator?.pageSize"
    [pageSizeOptions]="[15, 50, 100]"
  ></mat-paginator>
</div>
