<app-header guide.categoryName [title]="'שם מדריך: ' + guide.title"></app-header>

<div class="guide-container" dir="rtl">
  <mat-card>
    <mat-card-header>
      <div class="created-by header-section"> הקים: {{ guide.createdBy }}</div>
      <div class="header-section">
        <mat-card-title>
          <mat-icon>book</mat-icon>
          {{ guide.title }}
        </mat-card-title>
      </div>
      <div class="created-date header-section">תאריך יצירה: {{ guide.createdDate | date:'medium' }}</div>
    </mat-card-header>

    <mat-card-content>
      <div *ngFor="let item of guideItems">
        <ng-container *ngIf="item.type === 'Text'">
          <div [innerHTML]="item.textContent" class="styled-text"></div>
        </ng-container>
        <ng-container *ngIf="item.type === 'Picture'">
          <img [src]="transformImagePath(item.imagePath)" alt="Guide Image" class="guide-image">
        </ng-container>
      </div>
      <div *ngIf="guideItems.length === 0">
        <p>No content available.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-toolbar color="primary" class="footer">
  <span>© 2024 Moshe Maman</span>
  <span class="spacer"></span>
</mat-toolbar>
