<h2 mat-dialog-title>{{ data.server ? 'Edit Server' : 'Add Server' }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Hostname</mat-label>
    <input matInput [(ngModel)]="server.hostname" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="server.description" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Created By</mat-label>
    <input matInput [(ngModel)]="server.createdBy" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>
