<mat-dialog-content *ngIf="department" class="department-dialog">
    <h2 mat-dialog-title class="dialog-title">{{ department.departName }}</h2>
    <div class="department-details">
      <p><strong>Current Patients:</strong> {{ department.currentPatients }}</p>
      <p><strong>Total Beds:</strong> {{ department.totalBeds }}</p>
      <p><strong>Department Type:</strong> {{ department.departType }}</p>
      <p><strong>Chameleon Code:</strong> {{ department.departChameleonCode }}</p>
      <p><strong>Total Load:</strong> {{ department.totalLoad | number: '1.0-2' }}%</p>
    </div>
    <div mat-dialog-actions class="dialog-actions">
      <button mat-button mat-raised-button color="primary" (click)="onClose()">Close</button>
    </div>
  </mat-dialog-content>
  