.edit-task-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  .edit-task-form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-task-field {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  