<h1 mat-dialog-title class="dialog-title">{{data.isEdit ? 'Edit Contact' : 'Add Contact'}}</h1>
<div mat-dialog-content>
  <form [formGroup]="contactForm" class="contact-form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="CompanyName" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Dept In Hospital</mat-label>
        <input matInput formControlName="DeptInHospital">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="Name" required>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Position</mat-label>
        <input matInput formControlName="Position">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="Phone">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" >
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <input matInput formControlName="Description">
      </mat-form-field>
    </div>

    <div class="toggle-container">
      <mat-slide-toggle formControlName="Active">
        Active
      </mat-slide-toggle>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()" color="warn">Cancel</button>
  <button mat-button (click)="onSave()" [disabled]="!contactForm.valid" color="primary">{{data.isEdit ? 'Update' : 'Add'}}</button>
</div>
